---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":75,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-10-12T07:12:43.045Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-10-12T07:13:26.222Z","active":true,"expires_at":"2025-10-12"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"bb9c6ccfbd0282f27010978cf2b43422"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9ZS6GCFDYP6ANNKPAYDZPEA","version":"1"}'
        status: 200 OK
        code: 200
        duration: 50.875958ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":131,"username":"service_account_1dd5652e5a2b4e7efcde27f11fa41e9b","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"124d496fc565987e8f74b59e8a81873e"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9ZS6GFQW191AXNPM9X9V8G5","version":"1"}'
        status: 201 Created
        code: 201
        duration: 464.354916ms
    - id: 2
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users?username=service_account_1dd5652e5a2b4e7efcde27f11fa41e9b
        method: GET
      response:
        body: '[{"id":131,"username":"service_account_1dd5652e5a2b4e7efcde27f11fa41e9b","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/d9535977dd36a267d6f0d394b85f4f1a5068b93006fce18d4c73c1adb77bcf5e?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_1dd5652e5a2b4e7efcde27f11fa41e9b","created_at":"2024-10-12T07:13:30.207Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2024-10-12T07:13:30.136Z","last_activity_on":null,"email":"service_account_1dd5652e5a2b4e7efcde27f11fa41e9b@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_1dd5652e5a2b4e7efcde27f11fa41e9b@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":370,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":null,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"e88d9c883b387c9d524b2072ee28161e"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_1dd5652e5a2b4e7efcde27f11fa41e9b&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_1dd5652e5a2b4e7efcde27f11fa41e9b&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9ZS6HCYQJPAXDJBVY9NMEKT","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 160.147958ms
    - id: 3
      request:
        host: git.matoski.com
        body: '{"name":"vault-generated-user-service-account-token","expires_at":"2024-10-14","scopes":["read_service_ping","read_user","sudo","admin_mode"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/131/personal_access_tokens
        method: POST
      response:
        body: '{"id":77,"name":"vault-generated-user-service-account-token","revoked":false,"created_at":"2024-10-12T07:13:31.388Z","scopes":["read_service_ping","read_user","sudo","admin_mode"],"user_id":131,"last_used_at":null,"active":true,"expires_at":"2024-10-14","token":"glpat-ZvRxxbVNF6kXV5XfHsnn"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"3e8d015c0a830b4955782785c2589519"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9ZS6HPWWMPKM5VDW3AGGA9T","version":"1"}'
        status: 201 Created
        code: 201
        duration: 82.40575ms
[...]
    - id: 6
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/131
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9ZS6JATV0HAS7CWYR32NKQP","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 55.29275ms
