---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":10918303,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-10-11T09:24:02.260Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features"],"user_id":32923,"last_used_at":"2024-10-11T09:25:17.333Z","active":true,"expires_at":"2025-10-11"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"9a96616cac5f4bc9ff6e8be0bfab6069"
            Gitlab-Lb:
                - haproxy-main-44-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-d
            X-Gitlab-Meta:
                - '{"correlation_id":"53e54ff893745800523d3a20770a3ba5","version":"1"}'
        status: 200 OK
        code: 200
        duration: 246.249625ms
[...]
    - id: 2
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/users/32923
        method: GET
      response:
        body: '{"id":32923,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://gitlab.com/ilijamt","created_at":"2014-05-19T14:51:54.441Z","bio":"","location":"","public_email":"","skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":false,"work_information":null,"local_time":"9:25 AM"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"42f2d9fcab5391421f767ea9fe544269"
            Gitlab-Lb:
                - haproxy-main-42-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-b
            X-Gitlab-Meta:
                - '{"correlation_id":"63d34cd31cc3ee15e6933624ebe071df","version":"1"}'
        status: 200 OK
        code: 200
        duration: 187.452208ms
    - id: 3
      request:
        host: gitlab.com
        body: '{"expires_at":"2025-10-11"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/10918303/rotate
        method: POST
      response:
        body: '{"id":10918315,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-10-11T09:25:18.521Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features"],"user_id":32923,"last_used_at":null,"active":true,"expires_at":"2025-10-11","token":"glpat-8oyQTsAazgWtCG6Ezf43"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"e4d6cf52e74bbfe1a98543e4b91921e6"
            Gitlab-Lb:
                - haproxy-main-33-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-b
            X-Gitlab-Meta:
                - '{"correlation_id":"db13311710a0b8d8d5638ff216cebaff","version":"1"}'
        status: 200 OK
        code: 200
        duration: 187.697208ms
    - id: 4
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"error":"invalid_token","error_description":"Token was revoked. You have to re-authorize from the user."}'
        headers:
            Content-Type:
                - application/json
            Gitlab-Lb:
                - haproxy-main-10-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-c
            Www-Authenticate:
                - Bearer realm="Protected by OAuth 2.0", error="invalid_token", error_description="Token was revoked. You have to re-authorize from the user."
            X-Gitlab-Meta:
                - '{"correlation_id":"8f5c0e5f741900298dd49060fd05acaa","version":"1"}'
        status: 401 Unauthorized
        code: 401
        duration: 172.017208ms
[...]
