---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":54,"name":"asdfasdfa","revoked":false,"created_at":"2024-10-10T18:16:17.705Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-10-10T18:21:00.939Z","active":true,"expires_at":"2025-10-10"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"803de9af876627980f3a8103d90fa8ff"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VTKAKFXDEFSPV3VXBX0S5B","version":"1"}'
        status: 200 OK
        code: 200
        duration: 217.038042ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":57,"username":"service_account_2e912fba09c48096db192510f5100bce","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"71b4be5cc77668cc29be8b025046c622"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VTKAWVMY2XZW5A14XAW674","version":"1"}'
        status: 201 Created
        code: 201
        duration: 202.774458ms
    - id: 2
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
        url: https://git.matoski.com/api/v4/users?username=service_account_2e912fba09c48096db192510f5100bce
        method: GET
      response:
        body: '[{"id":57,"username":"service_account_2e912fba09c48096db192510f5100bce","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/cf9c315d9821b5e8bd78ef1b6c7529b14d827636b65d01ca4242789a30459f2b?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_2e912fba09c48096db192510f5100bce","created_at":"2024-10-10T18:21:01.293Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2024-10-10T18:21:01.275Z","last_activity_on":null,"email":"service_account_2e912fba09c48096db192510f5100bce@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_2e912fba09c48096db192510f5100bce@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":296,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":null,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"a25f3732f452d82bf4c53ba5a28ca67b"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_2e912fba09c48096db192510f5100bce&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_2e912fba09c48096db192510f5100bce&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VTKB9KJ5661NF69C84367E","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 83.001833ms
    - id: 3
      request:
        host: git.matoski.com
        body: '{"name":"vault-generated-user-service-account-token-26d19760","expires_at":"2024-10-12","scopes":["read_service_ping","read_user","sudo","admin_mode"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://git.matoski.com/api/v4/users/57/personal_access_tokens
        method: POST
      response:
        body: '{"id":55,"name":"vault-generated-user-service-account-token-26d19760","revoked":false,"created_at":"2024-10-10T18:21:01.852Z","scopes":["read_service_ping","read_user","sudo","admin_mode"],"user_id":57,"last_used_at":null,"active":true,"expires_at":"2024-10-12","token":"glpat-LXNjoDfpDWhxfvVsDjTm"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"d413a4e7cb5a634fb779e0e76b65268c"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VTKBG5A3J38JXRNZP29CMV","version":"1"}'
        status: 201 Created
        code: 201
        duration: 126.966334ms
[...]
