---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":75,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-10-12T07:12:43.045Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-10-12T07:13:26.222Z","active":true,"expires_at":"2025-10-12"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"bb9c6ccfbd0282f27010978cf2b43422"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9ZS6CKHCGGE74FY48141648","version":"1"}'
        status: 200 OK
        code: 200
        duration: 662.8745ms
    - id: 1
      request:
        host: git.matoski.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/groups/265/service_accounts
        method: POST
      response:
        body: '{"id":130,"username":"service_account_group_265_920e8e0c29976fb684fd1fa97c480015","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"af3bccd2d828d21b8aa01ec07380d5f3"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9ZS6DK1QEQF4CSJR8TFFGJS","version":"1"}'
        status: 201 Created
        code: 201
        duration: 768.591666ms
    - id: 2
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users?username=service_account_group_265_920e8e0c29976fb684fd1fa97c480015
        method: GET
      response:
        body: '[{"id":130,"username":"service_account_group_265_920e8e0c29976fb684fd1fa97c480015","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/72c2ffb343ab4d7fccd0d9905716bb6508b66f6f93da507feb3a0ed965474d39?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_group_265_920e8e0c29976fb684fd1fa97c480015","created_at":"2024-10-12T07:13:27.376Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2024-10-12T07:13:27.277Z","last_activity_on":null,"email":"service_account_group_265_920e8e0c29976fb684fd1fa97c480015@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_group_265_920e8e0c29976fb684fd1fa97c480015@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":369,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":265,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"60bc0c23047f390e5f28149527a8c638"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_920e8e0c29976fb684fd1fa97c480015&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_920e8e0c29976fb684fd1fa97c480015&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9ZS6F39MPBJNA6C2Z1K6VGM","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 235.430625ms
    - id: 3
      request:
        host: git.matoski.com
        body: '{"scopes":["read_service_ping","read_user","sudo","admin_mode"],"name":"vault-generated-group-service-account-token","expires_at":"2024-10-14"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/groups/265/service_accounts/130/personal_access_tokens
        method: POST
      response:
        body: '{"id":76,"name":"vault-generated-group-service-account-token","revoked":false,"created_at":"2024-10-12T07:13:29.218Z","scopes":["read_service_ping","read_user","sudo","admin_mode"],"user_id":130,"last_used_at":null,"active":true,"expires_at":"2024-10-14","token":"glpat-L2KsvC_apY6d1sYaPodZ"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"2cdcd83ad5d0df6d417c04470696a1e9"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9ZS6FHW402THTRM08Y8SYDR","version":"1"}'
        status: 201 Created
        code: 201
        duration: 174.654167ms
[...]
    - id: 6
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/130
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9ZS6G7KHWDHBGJQYS467D56","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 75.169208ms
