---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":54,"name":"asdfasdfa","revoked":false,"created_at":"2024-10-10T18:16:17.705Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-10-10T18:21:00.939Z","active":true,"expires_at":"2025-10-10"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"803de9af876627980f3a8103d90fa8ff"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VTM0M9TMPGTYV2W25YG3YR","version":"1"}'
        status: 200 OK
        code: 200
        duration: 159.330417ms
    - id: 1
      request:
        host: git.matoski.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://git.matoski.com/api/v4/groups/265/service_accounts
        method: POST
      response:
        body: '{"id":58,"username":"service_account_group_265_b1554085989a52e177f50bcba0709c8b","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"f9b52aca8fb2678eec84b68c5eb1a233"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VTM0TXVDZX0TBX5P14DYZJ","version":"1"}'
        status: 201 Created
        code: 201
        duration: 156.668708ms
    - id: 2
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
        url: https://git.matoski.com/api/v4/users?username=service_account_group_265_b1554085989a52e177f50bcba0709c8b
        method: GET
      response:
        body: '[{"id":58,"username":"service_account_group_265_b1554085989a52e177f50bcba0709c8b","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/ad07204ef2d5566e8de635fde35d438be683f72f41f327b3fcb65cd32e7e610a?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_group_265_b1554085989a52e177f50bcba0709c8b","created_at":"2024-10-10T18:21:23.719Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2024-10-10T18:21:23.707Z","last_activity_on":null,"email":"service_account_group_265_b1554085989a52e177f50bcba0709c8b@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_group_265_b1554085989a52e177f50bcba0709c8b@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":297,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":265,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"5ca228e55601b99cca27f76253b926ce"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_b1554085989a52e177f50bcba0709c8b&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_b1554085989a52e177f50bcba0709c8b&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VTM14PD9VXZ8H445AP4DBW","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 98.896333ms
    - id: 3
      request:
        host: git.matoski.com
        body: '{"scopes":["read_service_ping","read_user","sudo","admin_mode"],"name":"vault-generated-group-service-account-token-6d8e5660","expires_at":"2024-10-12"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://git.matoski.com/api/v4/groups/265/service_accounts/58/personal_access_tokens
        method: POST
      response:
        body: '{"id":56,"name":"vault-generated-group-service-account-token-6d8e5660","revoked":false,"created_at":"2024-10-10T18:21:24.230Z","scopes":["read_service_ping","read_user","sudo","admin_mode"],"user_id":58,"last_used_at":null,"active":true,"expires_at":"2024-10-12","token":"glpat-FxULn4U1mAv3gFwt6PeC"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"d0cc34d2b349d1c56f9f8521c636a3ff"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VTM1B19RRFKESMQGPWXN26","version":"1"}'
        status: 201 Created
        code: 201
        duration: 92.392209ms
[...]
