---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":81,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-12-11T23:34:49.635Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-12-11T23:37:06.786Z","active":true,"expires_at":"2025-12-11"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"700453cf88da225c3e99df99c1edd390"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JEW1ANXRF00C8ZS4YJ0MTJKF","version":"1"}'
        status: 200 OK
        code: 200
        duration: 190.568041ms
    - id: 1
      request:
        host: git.matoski.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":134,"username":"service_account_9a26306f462ed092c37444f0b28ba82c","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"a7fa217b9e922d489dc9ce534f1f3066"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JEW1AP62HP6Y633CBY9BC7YQ","version":"1"}'
        status: 201 Created
        code: 201
        duration: 797.497625ms
    - id: 2
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users?username=service_account_9a26306f462ed092c37444f0b28ba82c
        method: GET
      response:
        body: '[{"id":134,"username":"service_account_9a26306f462ed092c37444f0b28ba82c","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/ac31595a556f57e7db362454066e64c01a0255e44fe1b992ff91217562f53cbe?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_9a26306f462ed092c37444f0b28ba82c","created_at":"2024-12-11T23:37:07.245Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2024-12-11T23:37:07.194Z","last_activity_on":null,"email":"service_account_9a26306f462ed092c37444f0b28ba82c@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_9a26306f462ed092c37444f0b28ba82c@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":373,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":null,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"7592c64d290f15dd268aad9ef46b1008"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_9a26306f462ed092c37444f0b28ba82c&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_9a26306f462ed092c37444f0b28ba82c&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JEW1AQR484QW9FTMD6QGY42N","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 169.816167ms
    - id: 3
      request:
        host: git.matoski.com
        body: '{"name":"vault-generated-user-service-account-token","expires_at":"2024-12-14","scopes":["read_service_ping","read_user","sudo","admin_mode"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/134/personal_access_tokens
        method: POST
      response:
        body: '{"id":82,"name":"vault-generated-user-service-account-token","revoked":false,"created_at":"2024-12-11T23:37:08.983Z","scopes":["read_service_ping","read_user","sudo","admin_mode"],"user_id":134,"last_used_at":null,"active":true,"expires_at":"2024-12-14","token":"glpat-a9NfBCA2kbPxxXnmYAxR"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"890258d51fa6f7d30d4bd09ea3597c9b"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JEW1AR2RTNHPXZFBCWXR2Z4F","version":"1"}'
        status: 201 Created
        code: 201
        duration: 72.066333ms
[...]
    - id: 6
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/134
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01JEW1ARFNZQH5QXRQCC4YSYSB","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 48.12175ms
