---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":81,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-12-11T23:34:49.635Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-12-11T23:37:06.786Z","active":true,"expires_at":"2025-12-11"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"700453cf88da225c3e99df99c1edd390"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JEW1BJFH0HX3N17GEZCSNVNP","version":"1"}'
        status: 200 OK
        code: 200
        duration: 39.726875ms
    - id: 1
      request:
        host: git.matoski.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":136,"username":"service_account_26355ead24ed3d1f00c425cbe32105a2","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"057158facee190c392a64351e5c509c8"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JEW1BJHY0ZSYFHA89J6WFE3V","version":"1"}'
        status: 201 Created
        code: 201
        duration: 125.7775ms
