---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":78,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-10-13T12:45:46.815Z","scopes":["api","read_api","read_user","sudo","admin_mode"],"user_id":2,"last_used_at":"2024-10-13T12:49:05.355Z","active":true,"expires_at":"2024-11-12"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"b3d26443df799a3330591d7c04051b4c"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JA2YSPR443ZE9RNGDW6YSH01","version":"1"}'
        status: 200 OK
        code: 200
        duration: 442.064792ms
    - id: 1
      request:
        host: git.matoski.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/groups/265/service_accounts
        method: POST
      response:
        body: '{"id":132,"username":"service_account_group_265_62c6a7f98441380f65190ce34b95c600","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"918e123d2db0d9ca359f403713662770"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JA2YSQ9HTFW61RZZPTD5DQ8W","version":"1"}'
        status: 201 Created
        code: 201
        duration: 732.564042ms
    - id: 2
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users?username=service_account_group_265_62c6a7f98441380f65190ce34b95c600
        method: GET
      response:
        body: '[{"id":132,"username":"service_account_group_265_62c6a7f98441380f65190ce34b95c600","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/d36c56cd3bcea98ef6cd13946f5479399bddff8c102a09865da32ce601baa4f6?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_group_265_62c6a7f98441380f65190ce34b95c600","created_at":"2024-10-13T12:49:06.085Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2024-10-13T12:49:05.995Z","last_activity_on":null,"email":"service_account_group_265_62c6a7f98441380f65190ce34b95c600@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_group_265_62c6a7f98441380f65190ce34b95c600@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":371,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":265,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"c3d3a924595c6d1222a518bfd72a9fa9"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_62c6a7f98441380f65190ce34b95c600&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_62c6a7f98441380f65190ce34b95c600&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JA2YSRQFCNJHRSM5P9KX0RHY","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 163.203041ms
    - id: 3
      request:
        host: git.matoski.com
        body: '{"scopes":["read_service_ping","read_user","sudo","admin_mode"],"name":"vault-generated-group-service-account-token","expires_at":"2024-12-14"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/groups/265/service_accounts/132/personal_access_tokens
        method: POST
      response:
        body: '{"id":79,"name":"vault-generated-group-service-account-token","revoked":false,"created_at":"2024-10-13T12:49:07.716Z","scopes":["read_service_ping","read_user","sudo","admin_mode"],"user_id":132,"last_used_at":null,"active":true,"expires_at":"2024-12-14","token":"glpat--zyAc2LTaSHDAitzEAqZ"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"66ef3f65f8db60d4ac1546f55a7d5ffd"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JA2YSS1MD957XNH8BWAZFNCQ","version":"1"}'
        status: 201 Created
        code: 201
        duration: 219.028542ms
[...]
    - id: 6
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/132
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01JA2YSTGD376194FSK6W3XGQ6","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 78.903333ms
