---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":63,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-10-11T10:43:15.997Z","scopes":["api","admin_mode"],"user_id":2,"last_used_at":"2024-10-11T10:43:27.899Z","active":true,"expires_at":"2024-11-10"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"832ec4c6e9bc777be3e994cf14996de4"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9XJWYNA58ERPX0TND5NXWMW","version":"1"}'
        status: 200 OK
        code: 200
        duration: 125.932083ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":117,"username":"service_account_856c5b8171b8030d7f71a96cbfdf83ed","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"863380c54a81dcc6f0cd3ec055c6a403"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9XJWYTJ7B504DWMY5D86JBD","version":"1"}'
        status: 201 Created
        code: 201
        duration: 173.424125ms
