---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":63,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-10-11T10:43:15.997Z","scopes":["api","admin_mode"],"user_id":2,"last_used_at":"2024-10-11T11:27:02.277Z","active":true,"expires_at":"2024-11-10"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"5c6c013c445fa4f646570c6e5f737e98"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9XNBRZXMNCHCGS727883374","version":"1"}'
        status: 200 OK
        code: 200
        duration: 139.675875ms
    - id: 1
      request:
        host: git.matoski.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/groups/265/service_accounts
        method: POST
      response:
        body: '{"id":129,"username":"service_account_group_265_df38f30d66e0a235ef9d7452afd47473","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"3a5e0556ed266767a9c60814ac95d607"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9XNBS5JV9FTFYPQ43SNJQFA","version":"1"}'
        status: 201 Created
        code: 201
        duration: 187.807208ms
    - id: 2
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users?username=service_account_group_265_df38f30d66e0a235ef9d7452afd47473
        method: GET
      response:
        body: '[{"id":129,"username":"service_account_group_265_df38f30d66e0a235ef9d7452afd47473","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/a5e4bbf6ab8a155013c4fac2b82250c492b66ff8ca35fc1eb09db6d6457529ab?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_group_265_df38f30d66e0a235ef9d7452afd47473","created_at":"2024-10-11T11:27:59.748Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2024-10-11T11:27:59.733Z","last_activity_on":null,"email":"service_account_group_265_df38f30d66e0a235ef9d7452afd47473@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_group_265_df38f30d66e0a235ef9d7452afd47473@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":368,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":265,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"70bbde15f7ab2e64202df345acfa781e"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_df38f30d66e0a235ef9d7452afd47473&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_df38f30d66e0a235ef9d7452afd47473&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9XNBSHDHQQ5TB97BTJXYKK0","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 108.158291ms
    - id: 3
      request:
        host: git.matoski.com
        body: '{"scopes":["read_service_ping","read_user","sudo","admin_mode"],"name":"vault-generated-group-service-account-token","expires_at":"2024-10-13"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/groups/265/service_accounts/129/personal_access_tokens
        method: POST
      response:
        body: '{"id":74,"name":"vault-generated-group-service-account-token","revoked":false,"created_at":"2024-10-11T11:28:00.311Z","scopes":["read_service_ping","read_user","sudo","admin_mode"],"user_id":129,"last_used_at":null,"active":true,"expires_at":"2024-10-13","token":"glpat-JkXKDEe_tQnWeVYuoYiL"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"d42290b51da785498ac08f217d74b5d3"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9XNBSR736BT7C89VHNENB32","version":"1"}'
        status: 201 Created
        code: 201
        duration: 96.293ms
[...]
    - id: 6
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/129
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9XNBT5EB5EDF4R9FP14YMVT","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 49.014166ms
