---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":78,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-10-13T12:45:46.815Z","scopes":["api","read_api","read_user","sudo","admin_mode"],"user_id":2,"last_used_at":"2024-10-13T12:49:05.355Z","active":true,"expires_at":"2024-11-12"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"b3d26443df799a3330591d7c04051b4c"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JA2YSW3K3TR04YV990C5F5PA","version":"1"}'
        status: 200 OK
        code: 200
        duration: 158.647125ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":133,"username":"service_account_4623be513481a023ef6ba6f465745ccb","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"28d749082cac9fdb60adaa1091dec5cc"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JA2YSWA9E5X76PP7J72MSCN8","version":"1"}'
        status: 201 Created
        code: 201
        duration: 375.661625ms
    - id: 2
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users?username=service_account_4623be513481a023ef6ba6f465745ccb
        method: GET
      response:
        body: '[{"id":133,"username":"service_account_4623be513481a023ef6ba6f465745ccb","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/fe18a522b9c0e2c46e1647af3ca1796ee86ff7cd0329731a255366be973976ca?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_4623be513481a023ef6ba6f465745ccb","created_at":"2024-10-13T12:49:11.106Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2024-10-13T12:49:11.019Z","last_activity_on":null,"email":"service_account_4623be513481a023ef6ba6f465745ccb@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_4623be513481a023ef6ba6f465745ccb@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":372,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":null,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"da11102832b8b74ab77f944c168dfe27"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_4623be513481a023ef6ba6f465745ccb&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_4623be513481a023ef6ba6f465745ccb&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JA2YSX1YXK2YHK1DGDF9MQAE","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 76.08475ms
    - id: 3
      request:
        host: git.matoski.com
        body: '{"name":"vault-generated-user-service-account-token","expires_at":"2024-12-14","scopes":["read_service_ping","read_user","sudo","admin_mode"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/133/personal_access_tokens
        method: POST
      response:
        body: '{"id":80,"name":"vault-generated-user-service-account-token","revoked":false,"created_at":"2024-10-13T12:49:11.932Z","scopes":["read_service_ping","read_user","sudo","admin_mode"],"user_id":133,"last_used_at":null,"active":true,"expires_at":"2024-12-14","token":"glpat--eipYeYixg9xn38exZDJ"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"83e45713be8cb4b8597e4e5a8f862f46"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JA2YSX6PESKH4QZ55WFKE0NC","version":"1"}'
        status: 201 Created
        code: 201
        duration: 88.511417ms
[...]
    - id: 6
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/133
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01JA2YSXP0QDVVYEJCS0SNN4RA","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 57.962791ms
