---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":54,"name":"asdfasdfa","revoked":false,"created_at":"2024-10-10T18:16:17.705Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-10-10T19:06:22.357Z","active":true,"expires_at":"2025-10-10"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"1cf3f120f01ab08fea93bf980cd74dec"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VXHFHW6KT479NW4QF0CCRP","version":"1"}'
        status: 200 OK
        code: 200
        duration: 122.652375ms
    - id: 1
      request:
        host: git.matoski.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://git.matoski.com/api/v4/groups/265/service_accounts
        method: POST
      response:
        body: '{"id":65,"username":"service_account_group_265_39a234422cf4de66bc58ef2528446d19","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"6d3a5e6977a4db84e7850a45020cf922"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VXHFQ26CS717HKYDGZ7S2R","version":"1"}'
        status: 201 Created
        code: 201
        duration: 145.649917ms
    - id: 2
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
        url: https://git.matoski.com/api/v4/users?username=service_account_group_265_39a234422cf4de66bc58ef2528446d19
        method: GET
      response:
        body: '[{"id":65,"username":"service_account_group_265_39a234422cf4de66bc58ef2528446d19","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/b62fe49e894e9c5e9bf434ef7df9a31c5da08a94918c6e80d24594195da0b2ab?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_group_265_39a234422cf4de66bc58ef2528446d19","created_at":"2024-10-10T19:12:26.380Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2024-10-10T19:12:26.368Z","last_activity_on":null,"email":"service_account_group_265_39a234422cf4de66bc58ef2528446d19@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_group_265_39a234422cf4de66bc58ef2528446d19@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":304,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":265,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"dad3242b335a317203061968b45edf09"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_39a234422cf4de66bc58ef2528446d19&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_39a234422cf4de66bc58ef2528446d19&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VXHG081CGAEP41BE3FVVCW","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 68.904042ms
    - id: 3
      request:
        host: git.matoski.com
        body: '{"scopes":["read_service_ping","read_user","sudo","admin_mode"],"name":"vault-generated-group-service-account-token-08c3d4c5","expires_at":"2024-10-12"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://git.matoski.com/api/v4/groups/265/service_accounts/65/personal_access_tokens
        method: POST
      response:
        body: '{"id":59,"name":"vault-generated-group-service-account-token-08c3d4c5","revoked":false,"created_at":"2024-10-10T19:12:26.823Z","scopes":["read_service_ping","read_user","sudo","admin_mode"],"user_id":65,"last_used_at":null,"active":true,"expires_at":"2024-10-12","token":"glpat-Lr-sZw9tm8kvtrPbnUTV"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"aef9bd13875aa90871710832c919fadb"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VXHG4M3NV8YW8H9VGPB6XE","version":"1"}'
        status: 201 Created
        code: 201
        duration: 127.168792ms
[...]
    - id: 6
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
        url: https://git.matoski.com/api/v4/users/65
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VXHGN9XF945S4QATJ55A8H","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 46.579417ms
