---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":10926727,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-10-12T07:11:02.977Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features"],"user_id":32923,"last_used_at":"2024-10-12T07:12:00.639Z","active":true,"expires_at":"2024-11-11"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"eb8c6a58e7ef9a81455d40394cc921c0"
            Gitlab-Lb:
                - haproxy-main-47-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-d
            X-Gitlab-Meta:
                - '{"correlation_id":"d9f31ea160d5a3b1437c1ed361036332","version":"1"}'
        status: 200 OK
        code: 200
        duration: 246.743792ms
[...]
    - id: 2
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/users/32923
        method: GET
      response:
        body: '{"id":32923,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://gitlab.com/ilijamt","created_at":"2014-05-19T14:51:54.441Z","bio":"","location":"","public_email":"","skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":false,"work_information":null,"local_time":"7:12 AM"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"6be37df22a2eca9ad06347f5e193f804"
            Gitlab-Lb:
                - haproxy-main-54-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-b
            X-Gitlab-Meta:
                - '{"correlation_id":"876d805e1a60a6e6fbb3ecc18db599e7","version":"1"}'
        status: 200 OK
        code: 200
        duration: 213.577417ms
    - id: 3
      request:
        host: gitlab.com
        body: '{"expires_at":"2024-11-12"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/10926727/rotate
        method: POST
      response:
        body: '{"id":10926736,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-10-12T07:12:01.911Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features"],"user_id":32923,"last_used_at":null,"active":true,"expires_at":"2024-11-12","token":"glpat-nsMtXz-LoSz8ib4MznxH"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"5eeae513145d150baf0cd54bcc1bd6b4"
            Gitlab-Lb:
                - haproxy-main-38-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-d
            X-Gitlab-Meta:
                - '{"correlation_id":"70b685b07efe479e22cd7fe28cf0c1f3","version":"1"}'
        status: 200 OK
        code: 200
        duration: 312.304167ms
    - id: 4
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"error":"invalid_token","error_description":"Token was revoked. You have to re-authorize from the user."}'
        headers:
            Content-Type:
                - application/json
            Gitlab-Lb:
                - haproxy-main-22-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-c
            Www-Authenticate:
                - Bearer realm="Protected by OAuth 2.0", error="invalid_token", error_description="Token was revoked. You have to re-authorize from the user."
            X-Gitlab-Meta:
                - '{"correlation_id":"36989736767ccf36f9e086e7cf2a65a2","version":"1"}'
        status: 401 Unauthorized
        code: 401
        duration: 170.916583ms
[...]
