---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - glpat-W4SJZY6fKARPYB_UMzjx
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":54,"name":"asdfasdfa","revoked":false,"created_at":"2024-10-10T18:16:17.705Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-10-10T20:52:04.576Z","active":true,"expires_at":"2025-10-10"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"c083f74d5e7ac67d3890df62c0f372e8"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9W37ZCBHY9X4BBKA8ZKNET5","version":"1"}'
        status: 200 OK
        code: 200
        duration: 46.716833ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - glpat-W4SJZY6fKARPYB_UMzjx
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":70,"username":"service_account_1db4137d9fb9be8dfcc743b01deb7695","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"16e49182a1849782bba8328ddf962d49"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9W37ZF9KERBD6Q6QY3N4P01","version":"1"}'
        status: 201 Created
        code: 201
        duration: 129.838333ms
