---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":10934131,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-10-13T13:03:17.081Z","scopes":["api","read_api","read_user"],"user_id":32923,"last_used_at":"2024-10-13T13:03:28.577Z","active":true,"expires_at":"2025-10-13"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"294188617136d6cc8b17945693da200f"
            Gitlab-Lb:
                - haproxy-main-37-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-c
            X-Gitlab-Meta:
                - '{"correlation_id":"c38547d7a5bc8900007b6e1392137f09","version":"1"}'
        status: 200 OK
        code: 200
        duration: 253.662208ms
[...]
    - id: 2
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/users/32923
        method: GET
      response:
        body: '{"id":32923,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://gitlab.com/ilijamt","created_at":"2014-05-19T14:51:54.441Z","bio":"","location":"","public_email":"","skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":false,"work_information":null,"local_time":"1:03 PM"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"b6346ba117fc3b24678689c5133788c8"
            Gitlab-Lb:
                - haproxy-main-18-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-b
            X-Gitlab-Meta:
                - '{"correlation_id":"c76be0e9529736c4302ea28a308dad49","version":"1"}'
        status: 200 OK
        code: 200
        duration: 191.475458ms
    - id: 3
      request:
        host: gitlab.com
        body: '{"expires_at":"2025-08-12"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/10934131/rotate
        method: POST
      response:
        body: '{"id":10934133,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-10-13T13:03:29.810Z","scopes":["api","read_api","read_user"],"user_id":32923,"last_used_at":null,"active":true,"expires_at":"2025-08-12","token":"glpat-U4jnJZhSVRhDh5Wds61K"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"4a42d9b3ba1fbf3b7d1b3f5fe364e001"
            Gitlab-Lb:
                - haproxy-main-26-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-d
            X-Gitlab-Meta:
                - '{"correlation_id":"f5213fdce404a3c89baeb6659f65e6fc","version":"1"}'
        status: 200 OK
        code: 200
        duration: 289.986208ms
    - id: 4
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"error":"invalid_token","error_description":"Token was revoked. You have to re-authorize from the user."}'
        headers:
            Content-Type:
                - application/json
            Gitlab-Lb:
                - haproxy-main-03-lb-gprd
            Gitlab-Sv:
                - gke-cny-api
            Www-Authenticate:
                - Bearer realm="Protected by OAuth 2.0", error="invalid_token", error_description="Token was revoked. You have to re-authorize from the user."
            X-Gitlab-Meta:
                - '{"correlation_id":"c0a1de67f91eba8469438702599c7e3e","version":"1"}'
        status: 401 Unauthorized
        code: 401
        duration: 182.314291ms
[...]
