---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - glpat-W4SJZY6fKARPYB_UMzjx
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":54,"name":"asdfasdfa","revoked":false,"created_at":"2024-10-10T18:16:17.705Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-10-10T20:39:22.753Z","active":true,"expires_at":"2025-10-10"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"fde4b980e294e26b5cf3d86244169b35"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9W2Y7RWAF3230FMA65KKJQM","version":"1"}'
        status: 200 OK
        code: 200
        duration: 140.710083ms
    - id: 1
      request:
        host: git.matoski.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - glpat-W4SJZY6fKARPYB_UMzjx
        url: https://git.matoski.com/api/v4/groups/265/service_accounts
        method: POST
      response:
        body: '{"id":68,"username":"service_account_group_265_666394200ce066898cd6d0580268af20","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"6beca2260fb3e95a8968d762045e8213"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9W2Y7Z7ZXR0M6DMD4G07BGK","version":"1"}'
        status: 201 Created
        code: 201
        duration: 184.015291ms
    - id: 2
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - glpat-W4SJZY6fKARPYB_UMzjx
        url: https://git.matoski.com/api/v4/users?username=service_account_group_265_666394200ce066898cd6d0580268af20
        method: GET
      response:
        body: '[{"id":68,"username":"service_account_group_265_666394200ce066898cd6d0580268af20","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/2282b742b0c8c952be341ae1c6d84f57654e0617dd3ce1df19be2c829c705fdb?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_group_265_666394200ce066898cd6d0580268af20","created_at":"2024-10-10T20:46:47.340Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2024-10-10T20:46:47.324Z","last_activity_on":null,"email":"service_account_group_265_666394200ce066898cd6d0580268af20@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_group_265_666394200ce066898cd6d0580268af20@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":307,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":265,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"6a918ef583ab14219bf3bb10999b5429"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_666394200ce066898cd6d0580268af20&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_666394200ce066898cd6d0580268af20&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9W2Y8AT9PC1R6PKZMDGHS6N","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 71.315833ms
    - id: 3
      request:
        host: git.matoski.com
        body: '{"scopes":["read_service_ping","read_user","sudo","admin_mode"],"name":"vault-generated-group-service-account-token-e96c27c3","expires_at":"2024-10-12"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - glpat-W4SJZY6fKARPYB_UMzjx
        url: https://git.matoski.com/api/v4/groups/265/service_accounts/68/personal_access_tokens
        method: POST
      response:
        body: '{"id":61,"name":"vault-generated-group-service-account-token-e96c27c3","revoked":false,"created_at":"2024-10-10T20:46:47.834Z","scopes":["read_service_ping","read_user","sudo","admin_mode"],"user_id":68,"last_used_at":null,"active":true,"expires_at":"2024-10-12","token":"glpat-zzWgeoLyXTNSpxuG9Zn9"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"4c2a4059f2df143f23f6e91cf0a0c056"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9W2Y8FC6HGD2Q9P8BR0NNSP","version":"1"}'
        status: 201 Created
        code: 201
        duration: 98.126875ms
[...]
    - id: 6
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - glpat-W4SJZY6fKARPYB_UMzjx
        url: https://git.matoski.com/api/v4/users/68
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9W2Y90ZQ1T9GVY6TDD8GSA2","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 85.647ms
