---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":54,"name":"asdfasdfa","revoked":false,"created_at":"2024-10-10T18:16:17.705Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-10-10T19:06:22.357Z","active":true,"expires_at":"2025-10-10"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"1cf3f120f01ab08fea93bf980cd74dec"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VXHD3BHWHDX31A7SRTEKJN","version":"1"}'
        status: 200 OK
        code: 200
        duration: 184.310791ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":64,"username":"service_account_d2fa4d2b61a4246bd2641cc418d73bd9","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"b7bc45ec5b742fb44e465de77235e6a4"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VXHDB20J1TCERJJG9BBS58","version":"1"}'
        status: 201 Created
        code: 201
        duration: 152.771875ms
    - id: 2
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
        url: https://git.matoski.com/api/v4/users?username=service_account_d2fa4d2b61a4246bd2641cc418d73bd9
        method: GET
      response:
        body: '[{"id":64,"username":"service_account_d2fa4d2b61a4246bd2641cc418d73bd9","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/a9d6fe4a5a8dfb6b7cfae3ddd539e093ef0084bb900bd05c4bfedb1598f0efa0?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_d2fa4d2b61a4246bd2641cc418d73bd9","created_at":"2024-10-10T19:12:23.944Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2024-10-10T19:12:23.929Z","last_activity_on":null,"email":"service_account_d2fa4d2b61a4246bd2641cc418d73bd9@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_d2fa4d2b61a4246bd2641cc418d73bd9@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":303,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":null,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"91a58d858e04fce5ee210d2a2175525c"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_d2fa4d2b61a4246bd2641cc418d73bd9&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_d2fa4d2b61a4246bd2641cc418d73bd9&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VXHDMNYXEDCXVZ008A599Y","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 199.247541ms
    - id: 3
      request:
        host: git.matoski.com
        body: '{"name":"vault-generated-user-service-account-token-41924294","expires_at":"2024-10-12","scopes":["read_service_ping","read_user","sudo","admin_mode"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://git.matoski.com/api/v4/users/64/personal_access_tokens
        method: POST
      response:
        body: '{"id":58,"name":"vault-generated-user-service-account-token-41924294","revoked":false,"created_at":"2024-10-10T19:12:24.682Z","scopes":["read_service_ping","read_user","sudo","admin_mode"],"user_id":64,"last_used_at":null,"active":true,"expires_at":"2024-10-12","token":"glpat-91Pfrzv1kJXuUKjBb45T"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"a53128cb23f49dc9846e8fecc7dd21d2"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VXHE18E3CZZ9TCPA595HEG","version":"1"}'
        status: 201 Created
        code: 201
        duration: 117.124167ms
[...]
    - id: 6
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
        url: https://git.matoski.com/api/v4/users/64
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VXHEHJTZE7FMVH904GYDT0","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 54.48625ms
