---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - glpat-W4SJZY6fKARPYB_UMzjx
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":54,"name":"asdfasdfa","revoked":false,"created_at":"2024-10-10T18:16:17.705Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-10-10T20:39:22.753Z","active":true,"expires_at":"2025-10-10"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"fde4b980e294e26b5cf3d86244169b35"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9W2VEYE8V6WS104JZZNBT90","version":"1"}'
        status: 200 OK
        code: 200
        duration: 154.279042ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - glpat-W4SJZY6fKARPYB_UMzjx
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":67,"username":"service_account_8cf07653af30740caabaaaaa0660caa7","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"cca71987ca2ea29e5af91a3341f079be"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9W2VF4VKGZVFRHX577W0XPP","version":"1"}'
        status: 201 Created
        code: 201
        duration: 334.258375ms
    - id: 2
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - glpat-W4SJZY6fKARPYB_UMzjx
        url: https://git.matoski.com/api/v4/users?username=service_account_8cf07653af30740caabaaaaa0660caa7
        method: GET
      response:
        body: '[{"id":67,"username":"service_account_8cf07653af30740caabaaaaa0660caa7","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/f2025c99ed236cae5902f1611249022a28877181b7b11010b709131a920fd6bd?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_8cf07653af30740caabaaaaa0660caa7","created_at":"2024-10-10T20:45:16.437Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2024-10-10T20:45:16.367Z","last_activity_on":null,"email":"service_account_8cf07653af30740caabaaaaa0660caa7@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_8cf07653af30740caabaaaaa0660caa7@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":306,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":null,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"de1c241caf2f17c7512bf8d23d9d9466"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_8cf07653af30740caabaaaaa0660caa7&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_8cf07653af30740caabaaaaa0660caa7&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9W2VFSYSEQSWY8PVENT96FN","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 227.398333ms
    - id: 3
      request:
        host: git.matoski.com
        body: '{"name":"vault-generated-user-service-account-token-3da3217b","expires_at":"2024-10-12","scopes":["read_service_ping","read_user","sudo","admin_mode"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - glpat-W4SJZY6fKARPYB_UMzjx
        url: https://git.matoski.com/api/v4/users/67/personal_access_tokens
        method: POST
      response:
        body: '{"id":60,"name":"vault-generated-user-service-account-token-3da3217b","revoked":false,"created_at":"2024-10-10T20:45:17.486Z","scopes":["read_service_ping","read_user","sudo","admin_mode"],"user_id":67,"last_used_at":null,"active":true,"expires_at":"2024-10-12","token":"glpat-yBR6-19De-2c2m3MaFHQ"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"2aa196a11570bea74da8345d0f1f8af7"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9W2VG8G4BEF65F367CTKAM5","version":"1"}'
        status: 201 Created
        code: 201
        duration: 88.551209ms
[...]
    - id: 6
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - glpat-W4SJZY6fKARPYB_UMzjx
        url: https://git.matoski.com/api/v4/users/67
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9W2VGQRCMYADJ5NT2A07W7C","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 58.840209ms
