---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - glpat-S2r_vUK9ExnFcxpzjt_9
        url: https://gitlab.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":10223967,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-07-12T07:00:52.220Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features"],"user_id":32923,"last_used_at":"2024-07-12T07:00:53.184Z","active":true,"expires_at":"2025-07-12"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"f6140d9ed9a4f04166db91626105ab11"
            Gitlab-Lb:
                - haproxy-main-16-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-c
            X-Gitlab-Meta:
                - '{"correlation_id":"8f41337686c941530d97f4f2e0b8a308","version":"1"}'
        status: 200 OK
        code: 200
        duration: 255.557167ms
[...]
    - id: 2
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - glpat-S2r_vUK9ExnFcxpzjt_9
        url: https://gitlab.com/api/v4/users/32923
        method: GET
      response:
        body: '{"id":32923,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://gitlab.com/ilijamt","created_at":"2014-05-19T14:51:54.441Z","bio":"","location":"","public_email":"","skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":false,"work_information":null,"local_time":"7:01 AM"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"568ae35f9c682db65684e5a318315a7e"
            Gitlab-Lb:
                - haproxy-main-30-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-b
            X-Gitlab-Meta:
                - '{"correlation_id":"5cad1e0e954cea384a5abc9417d1a01c","version":"1"}'
        status: 200 OK
        code: 200
        duration: 225.185792ms
    - id: 3
      request:
        host: gitlab.com
        body: '{"expires_at":"2025-07-12"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - glpat-S2r_vUK9ExnFcxpzjt_9
        url: https://gitlab.com/api/v4/personal_access_tokens/10223967/rotate
        method: POST
      response:
        body: '{"id":10223973,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-07-12T07:01:28.023Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features"],"user_id":32923,"last_used_at":null,"active":true,"expires_at":"2025-07-12","token":"glpat-oyksPKGzGbx2drP9ePz9"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"c897288c64ada8962eeceee0bdf06b52"
            Gitlab-Lb:
                - haproxy-main-52-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-c
            X-Gitlab-Meta:
                - '{"correlation_id":"311c69a6e96ba6d2b59d59d9a8f66d1e","version":"1"}'
        status: 200 OK
        code: 200
        duration: 207.859542ms
    - id: 4
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - glpat-S2r_vUK9ExnFcxpzjt_9
        url: https://gitlab.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"error":"invalid_token","error_description":"Token was revoked. You have to re-authorize from the user."}'
        headers:
            Content-Type:
                - application/json
            Gitlab-Lb:
                - haproxy-main-08-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-d
            Www-Authenticate:
                - Bearer realm="Protected by OAuth 2.0", error="invalid_token", error_description="Token was revoked. You have to re-authorize from the user."
            X-Gitlab-Meta:
                - '{"correlation_id":"f9e6fd6e69d4db85be354ed61ccd1fbc","version":"1"}'
        status: 401 Unauthorized
        code: 401
        duration: 169.170875ms
[...]
