---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":63,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-10-11T10:43:15.997Z","scopes":["api","admin_mode"],"user_id":2,"last_used_at":"2024-10-11T11:27:02.277Z","active":true,"expires_at":"2024-11-10"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"5c6c013c445fa4f646570c6e5f737e98"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9XNA12C24KDCCD1DZRHV4AJ","version":"1"}'
        status: 200 OK
        code: 200
        duration: 199.397458ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":128,"username":"service_account_4d1813f4d8e51f25068ef00325fe9e23","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"28625f0531c3a18779ca0a6e2ff67cc4"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9XNA1BPM7QEEDHFCY9GFAHB","version":"1"}'
        status: 201 Created
        code: 201
        duration: 200.193375ms
    - id: 2
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users?username=service_account_4d1813f4d8e51f25068ef00325fe9e23
        method: GET
      response:
        body: '[{"id":128,"username":"service_account_4d1813f4d8e51f25068ef00325fe9e23","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/f5b2b8b61319b61a2246d9ea1db4b6cd5040e3e3ddfe65165386e67c016d3ce0?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_4d1813f4d8e51f25068ef00325fe9e23","created_at":"2024-10-11T11:27:02.594Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2024-10-11T11:27:02.573Z","last_activity_on":null,"email":"service_account_4d1813f4d8e51f25068ef00325fe9e23@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_4d1813f4d8e51f25068ef00325fe9e23@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":367,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":null,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"7d233bc673308bc201ffaa69b7c5a765"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_4d1813f4d8e51f25068ef00325fe9e23&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_4d1813f4d8e51f25068ef00325fe9e23&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9XNA1RA6R0J3YTCNJJFC24E","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 98.149833ms
    - id: 3
      request:
        host: git.matoski.com
        body: '{"name":"vault-generated-user-service-account-token","expires_at":"2024-10-13","scopes":["read_service_ping","read_user","sudo","admin_mode"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/128/personal_access_tokens
        method: POST
      response:
        body: '{"id":73,"name":"vault-generated-user-service-account-token","revoked":false,"created_at":"2024-10-11T11:27:03.148Z","scopes":["read_service_ping","read_user","sudo","admin_mode"],"user_id":128,"last_used_at":null,"active":true,"expires_at":"2024-10-13","token":"glpat-eUzBBWbv9nP_iGgcsLRc"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"e9e725b2708290b2b831daa9200af019"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9XNA1YG8NVEJWWSGE0RTAPA","version":"1"}'
        status: 201 Created
        code: 201
        duration: 75.480792ms
[...]
    - id: 6
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/128
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9XNA2EF81JB21CSQSCDEFVM","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 56.432708ms
