---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":54,"name":"asdfasdfa","revoked":false,"created_at":"2024-10-10T18:16:17.705Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-10-10T18:32:52.662Z","active":true,"expires_at":"2025-10-10"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"c6a0d8783a1faacabb5db725c38ff01e"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VV91H7MNKBZHCSRCFXKX4B","version":"1"}'
        status: 200 OK
        code: 200
        duration: 461.821166ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":59,"username":"service_account_6af752394614c6ce2b6e93911fa48490","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"3389664d07f63e4e1b33dd55c5590085"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VV92AMB2RAPA7VR8Z799MN","version":"1"}'
        status: 201 Created
        code: 201
        duration: 176.846917ms
