---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":54,"name":"asdfasdfa","revoked":false,"created_at":"2024-10-10T18:16:17.705Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-10-10T18:32:52.662Z","active":true,"expires_at":"2025-10-10"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"c6a0d8783a1faacabb5db725c38ff01e"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VVCYDB41XW1CJ8A2QASJX7","version":"1"}'
        status: 200 OK
        code: 200
        duration: 174.598ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":60,"username":"service_account_586740d2aaa8e0cb77108cc4bc52b0a1","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"caa215402a306ae0fbd73a139a32a5f8"
            X-Gitlab-Meta:
                - '{"correlation_id":"01J9VVCYMQ7VC76VN3021AQYVE","version":"1"}'
        status: 201 Created
        code: 201
        duration: 708.849166ms
