---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":12599486,"name":"test-vault-plugin","revoked":false,"created_at":"2024-12-14T22:59:20.679Z","description":"","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features"],"user_id":32923,"last_used_at":"2024-12-14T22:59:41.430Z","active":true,"expires_at":"2025-01-13"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"f794c61ca0a8939380419c7f4afacc2c"
            Gitlab-Lb:
                - haproxy-main-19-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-c
            X-Gitlab-Meta:
                - '{"correlation_id":"76ae1ba74ac8e4ec33fabadd7a419ec3","version":"1"}'
        status: 200 OK
        code: 200
        duration: 299.593625ms
    - id: 1
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"17.7.0-pre","revision":"a4ebccf2510","kas":{"enabled":true,"externalUrl":"wss://kas.gitlab.com","externalK8sProxyUrl":"https://kas.gitlab.com/k8s-proxy","version":"17.7.0+ed8e69891a82913e19430e094c192833ea5cb066"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"42990db62d0a22aa8c185c497cfe94da"
            Gitlab-Lb:
                - haproxy-main-59-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-d
            X-Gitlab-Meta:
                - '{"correlation_id":"5ddc666b281d5b856a041ad838ccbc4c","version":"1"}'
        status: 200 OK
        code: 200
        duration: 197.686875ms
[...]
    - id: 3
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/users/32923
        method: GET
      response:
        body: '{"id":32923,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://gitlab.com/ilijamt","created_at":"2014-05-19T14:51:54.441Z","bio":"","location":"","public_email":"","skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":false,"work_information":null,"local_time":"10:59 PM"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"de8f648eda42b4b038ad09efd43b440a"
            Gitlab-Lb:
                - haproxy-main-57-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-b
            X-Gitlab-Meta:
                - '{"correlation_id":"6585ba3e8c1327f2d8b169b89b1acca6","version":"1"}'
        status: 200 OK
        code: 200
        duration: 192.623584ms
    - id: 4
      request:
        host: gitlab.com
        body: '{"expires_at":"2025-01-11"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/12599486/rotate
        method: POST
      response:
        body: '{"id":12599488,"name":"test-vault-plugin","revoked":false,"created_at":"2024-12-14T22:59:43.256Z","description":null,"scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features"],"user_id":32923,"last_used_at":null,"active":true,"expires_at":"2025-01-11","token":"glpat-8-Qa_16zzKbhsDM7qTnr"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"ef62e33e7c3dfa7d14d65db4c41f1dfd"
            Gitlab-Lb:
                - haproxy-main-47-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-d
            X-Gitlab-Meta:
                - '{"correlation_id":"3213604c84fe5429a9a2d7a0a41fae56","version":"1"}'
        status: 200 OK
        code: 200
        duration: 275.355417ms
    - id: 5
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"error":"invalid_token","error_description":"Token was revoked. You have to re-authorize from the user."}'
        headers:
            Content-Type:
                - application/json
            Gitlab-Lb:
                - haproxy-main-35-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-d
            Www-Authenticate:
                - Bearer realm="Protected by OAuth 2.0", error="invalid_token", error_description="Token was revoked. You have to re-authorize from the user."
            X-Gitlab-Meta:
                - '{"correlation_id":"a142605ce05047f24e7b339d8046a371","version":"1"}'
        status: 401 Unauthorized
        code: 401
        duration: 193.103625ms
[...]
