---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":19138059,"name":"test-tf","revoked":false,"created_at":"2026-01-29T23:45:00.558Z","description":"","scopes":["read_user","read_repository","read_virtual_registry","read_registry","read_api","self_rotate","write_repository","write_virtual_registry","write_registry","api","ai_features","create_runner","manage_runner","k8s_proxy"],"user_id":32923,"last_used_at":"2026-01-29T23:45:42.717Z","active":true,"expires_at":"2026-05-01","last_used_ips":[]}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"dbdd3986ebd80c430fdd8395e035c5d2"
            Gitlab-Lb:
                - haproxy-main-31-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-b
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "1"
            Ratelimit-Remaining:
                - "1999"
            Ratelimit-Reset:
                - "1769730360"
            X-Gitlab-Meta:
                - '{"correlation_id":"9c5c9ad164636053-ATL","version":"1"}'
        status: 200 OK
        code: 200
        duration: 253.029583ms
    - id: 1
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"18.9.0-pre","revision":"dbbe7dd684a","kas":{"enabled":true,"externalUrl":"wss://kas.gitlab.com","externalK8sProxyUrl":"https://kas.gitlab.com/k8s-proxy","version":"18.9.0-rc1+bf2b6d2792386a6da84f149d5199cf549254fab8"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"ef00988fd1cd07c3627ef37c95a02234"
            Gitlab-Lb:
                - haproxy-main-02-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-c
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "2"
            Ratelimit-Remaining:
                - "1998"
            Ratelimit-Reset:
                - "1769730360"
            X-Gitlab-Meta:
                - '{"correlation_id":"9c5c9ad455206053-ATL","version":"1"}'
        status: 200 OK
        code: 200
        duration: 206.216542ms
[...]
    - id: 3
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/users/32923
        method: GET
      response:
        body: '{"id":32923,"username":"ilijamt","public_email":"","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://gitlab.com/ilijamt","created_at":"2014-05-19T14:51:54.441Z","bio":"","location":"","linkedin":"","twitter":"","discord":"","website_url":"","github":"","job_title":"","pronouns":null,"organization":"","bot":false,"work_information":null,"local_time":"11:45 PM"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"3c3732385386d5e71d5d6f507a0f38d4"
            Gitlab-Lb:
                - haproxy-main-49-lb-gprd
            Gitlab-Sv:
                - gke-cny-api
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "4"
            Ratelimit-Remaining:
                - "1996"
            Ratelimit-Reset:
                - "1769730360"
            X-Gitlab-Meta:
                - '{"correlation_id":"9c5c9ada46746053-ATL","version":"1"}'
        status: 200 OK
        code: 200
        duration: 201.181166ms
    - id: 4
      request:
        host: gitlab.com
        body: '{"expires_at":"2026-07-05"}'
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/19138059/rotate
        method: POST
      response:
        body: '{"id":19138064,"name":"test-tf","revoked":false,"created_at":"2026-01-29T23:45:44.559Z","description":"","scopes":["read_user","read_repository","read_virtual_registry","read_registry","read_api","self_rotate","write_repository","write_virtual_registry","write_registry","api","ai_features","create_runner","manage_runner","k8s_proxy"],"user_id":32923,"last_used_at":null,"active":true,"expires_at":"2026-07-05","token":"glpat-jZNryA-18cKvhWM5mBKDsG86MQp1OnBlagk.01.0z0rt35nd"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"758d0f7413d7ca1fdd6f014193899c05"
            Gitlab-Lb:
                - haproxy-main-10-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-b
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "5"
            Ratelimit-Remaining:
                - "1995"
            Ratelimit-Reset:
                - "1769730360"
            X-Gitlab-Meta:
                - '{"correlation_id":"9c5c9adcd7216053-IAD","version":"1"}'
        status: 200 OK
        code: 200
        duration: 315.847042ms
    - id: 5
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"error":"invalid_token","error_description":"Token was revoked. You have to re-authorize from the user."}'
        headers:
            Content-Type:
                - application/json
            Gitlab-Lb:
                - haproxy-main-54-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-d
            Ratelimit-Limit:
                - "500"
            Ratelimit-Name:
                - throttle_unauthenticated_api
            Ratelimit-Observed:
                - "2"
            Ratelimit-Remaining:
                - "498"
            Ratelimit-Reset:
                - "1769730360"
            Www-Authenticate:
                - Bearer realm="Protected by OAuth 2.0", error="invalid_token", error_description="Token was revoked. You have to re-authorize from the user."
            X-Gitlab-Meta:
                - '{"correlation_id":"9c5c9ae0c0056053-ATL","version":"1"}'
        status: 401 Unauthorized
        code: 401
        duration: 176.713917ms
[...]
