---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":13740081,"name":"TestWithGitlabUser_RotateToken","revoked":false,"created_at":"2025-04-04T20:44:18.754Z","description":"","scopes":["api","self_rotate"],"user_id":32923,"last_used_at":"2025-04-04T20:45:32.989Z","active":true,"expires_at":"2026-04-04"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"fbb79ed65f1b64c6306e6705d21faeac"
            Gitlab-Lb:
                - haproxy-main-55-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-b
            X-Gitlab-Meta:
                - '{"correlation_id":"105b2489862d93cf1acde7b9d51d8bfe","version":"1"}'
        status: 200 OK
        code: 200
        duration: 374.639042ms
    - id: 1
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"17.11.0-pre","revision":"d221639f6c7","kas":{"enabled":true,"externalUrl":"wss://kas.gitlab.com","externalK8sProxyUrl":"https://kas.gitlab.com/k8s-proxy","version":"17.11.0-rc1+4cbdaf5d1ab9382c53e36fdbd2df26b6e5e6151f"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"f3cfa28bf16b6f2b3ee093d1fd2656a2"
            Gitlab-Lb:
                - haproxy-main-40-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-b
            X-Gitlab-Meta:
                - '{"correlation_id":"61fb224b58845ded71a3aca819e9710a","version":"1"}'
        status: 200 OK
        code: 200
        duration: 296.969583ms
[...]
    - id: 3
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/users/32923
        method: GET
      response:
        body: '{"id":32923,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://gitlab.com/ilijamt","created_at":"2014-05-19T14:51:54.441Z","bio":"","location":"","public_email":"","skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":false,"work_information":null,"local_time":"8:46 PM"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"efb66141e0864f738a4e76e73c998cb2"
            Gitlab-Lb:
                - haproxy-main-41-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-c
            X-Gitlab-Meta:
                - '{"correlation_id":"c52b9b113bacce50d8f531018be57dae","version":"1"}'
        status: 200 OK
        code: 200
        duration: 222.983834ms
    - id: 4
      request:
        host: gitlab.com
        body: '{"expires_at":"2026-04-04"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/13740081/rotate
        method: POST
      response:
        body: '{"id":13740089,"name":"TestWithGitlabUser_RotateToken","revoked":false,"created_at":"2025-04-04T20:46:09.369Z","description":"","scopes":["api","self_rotate"],"user_id":32923,"last_used_at":null,"active":true,"expires_at":"2026-04-04","token":"glpat-5hsG26sKf_xTeLcZbjmT"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"ac937c638d3b09127385bdbe8f9ba720"
            Gitlab-Lb:
                - haproxy-main-21-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-d
            X-Gitlab-Meta:
                - '{"correlation_id":"eb9946134f5d12f70e6a4c3798779930","version":"1"}'
        status: 200 OK
        code: 200
        duration: 344.341958ms
    - id: 5
      request:
        host: gitlab.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"error":"invalid_token","error_description":"Token was revoked. You have to re-authorize from the user."}'
        headers:
            Content-Type:
                - application/json
            Gitlab-Lb:
                - haproxy-main-17-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-c
            Www-Authenticate:
                - Bearer realm="Protected by OAuth 2.0", error="invalid_token", error_description="Token was revoked. You have to re-authorize from the user."
            X-Gitlab-Meta:
                - '{"correlation_id":"4004161bc594ad3c039679e2a8c8633f","version":"1"}'
        status: 401 Unauthorized
        code: 401
        duration: 356.882292ms
[...]
