---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":111,"name":"vault","revoked":false,"created_at":"2026-04-30T11:11:25.967Z","description":"","scopes":["read_service_ping","read_user","read_repository","read_virtual_registry","read_registry","read_api","self_rotate","write_repository","write_virtual_registry","write_registry","api","ai_features","create_runner","manage_runner","k8s_proxy","admin_mode","sudo"],"user_id":2,"last_used_at":"2026-04-30T11:13:26.055Z","active":true,"granular":false,"expires_at":"2026-05-30","last_used_ips":["77.63.94.120"]}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"85fce5d923afe3417734c74b52e8efc6"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF210MWE4WJBA2EPHGV5ESZ","version":"1"}'
        status: 200 OK
        code: 200
        duration: 118.480083ms
    - id: 1
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"18.11.2-ee","revision":"354369a0b7c","kas":{"enabled":true,"externalUrl":"wss://git.matoski.com//-/kubernetes-agent/","externalK8sProxyUrl":"https://git.matoski.com//-/kubernetes-agent/k8s-proxy/","version":"18.11.2"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"bfe16c2bb767b608048b50ebbdcece88"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF210VR43BH3GGMWMQGEQA5","version":"1"}'
        status: 200 OK
        code: 200
        duration: 88.679167ms
    - id: 2
      request:
        host: git.matoski.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":167,"username":"service_account_b3d546b54f3ce948ac8b3614b69d6f42","public_email":null,"name":"Service account user","email":"service_account_b3d546b54f3ce948ac8b3614b69d6f42@noreply.git.matoski.com"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"056f7d9896942f6ff646c9fb2609d421"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF2111H43VMD5KVWYJVBJB7","version":"1"}'
        status: 201 Created
        code: 201
        duration: 1.026437167s
    - id: 3
      request:
        host: git.matoski.com
        form:
            username:
                - service_account_b3d546b54f3ce948ac8b3614b69d6f42
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users?username=service_account_b3d546b54f3ce948ac8b3614b69d6f42
        method: GET
      response:
        body: '[{"id":167,"username":"service_account_b3d546b54f3ce948ac8b3614b69d6f42","public_email":null,"name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e6c6756ddded1c4af79b9f21350bf2c4092268f918a88f979b6920cc91644a12?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_b3d546b54f3ce948ac8b3614b69d6f42","created_at":"2026-04-30T11:22:46.869Z","bio":"","location":"","linkedin":"","twitter":"","discord":"","website_url":"","github":"","job_title":"","pronouns":null,"organization":"","bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2026-04-30T11:22:46.836Z","last_activity_on":null,"email":"service_account_b3d546b54f3ce948ac8b3614b69d6f42@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_b3d546b54f3ce948ac8b3614b69d6f42@noreply.git.matoski.com","preferred_language":"en","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":412,"created_by":{"id":2,"username":"ilijamt","public_email":"","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":null,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"dfd245c9ecfb1acfa39750b03229f158"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_b3d546b54f3ce948ac8b3614b69d6f42&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_b3d546b54f3ce948ac8b3614b69d6f42&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF2131RCCZTVDH5SAY592H5","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 369.962208ms
    - id: 4
      request:
        host: git.matoski.com
        body: '{"name":"vault-generated-user-service-account-token","expires_at":"2026-05-02","scopes":["api","read_user","read_api","read_repository","write_repository","read_registry","write_registry","read_virtual_registry","write_virtual_registry","sudo","admin_mode","create_runner","manage_runner","ai_features","k8s_proxy","self_rotate","read_service_ping"]}'
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/167/personal_access_tokens
        method: POST
      response:
        body: '{"id":113,"name":"vault-generated-user-service-account-token","revoked":false,"created_at":"2026-04-30T11:22:49.201Z","description":null,"scopes":["api","read_user","read_api","read_repository","write_repository","read_registry","write_registry","read_virtual_registry","write_virtual_registry","sudo","admin_mode","create_runner","manage_runner","ai_features","k8s_proxy","self_rotate","read_service_ping"],"user_id":167,"last_used_at":null,"active":true,"granular":false,"expires_at":"2026-05-02","token":"REPLACED-TOKEN"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"cdbb22b94f2e28853e367a6fcc229e06"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF213S97DXZXDY4WR9RBFE6","version":"1"}'
        status: 201 Created
        code: 201
        duration: 428.987625ms
[...]
    - id: 7
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/167
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF215ESVXG5DX8KECGF3YM6","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 148.806666ms
