---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":111,"name":"vault","revoked":false,"created_at":"2026-04-30T11:11:25.967Z","description":"","scopes":["read_service_ping","read_user","read_repository","read_virtual_registry","read_registry","read_api","self_rotate","write_repository","write_virtual_registry","write_registry","api","ai_features","create_runner","manage_runner","k8s_proxy","admin_mode","sudo"],"user_id":2,"last_used_at":"2026-04-30T11:13:26.055Z","active":true,"granular":false,"expires_at":"2026-05-30","last_used_ips":["77.63.94.120"]}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"85fce5d923afe3417734c74b52e8efc6"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF20GPXXVBZX3P71G0T4PTE","version":"1"}'
        status: 200 OK
        code: 200
        duration: 86.372042ms
    - id: 1
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"18.11.2-ee","revision":"354369a0b7c","kas":{"enabled":true,"externalUrl":"wss://git.matoski.com//-/kubernetes-agent/","externalK8sProxyUrl":"https://git.matoski.com//-/kubernetes-agent/k8s-proxy/","version":"18.11.2"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"bfe16c2bb767b608048b50ebbdcece88"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF20GW69QTV9MGWCV8J1QWY","version":"1"}'
        status: 200 OK
        code: 200
        duration: 136.297541ms
    - id: 2
      request:
        host: git.matoski.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":165,"username":"service_account_7fb82530541170d349ef6a36d1b0e875","public_email":null,"name":"Service account user","email":"service_account_7fb82530541170d349ef6a36d1b0e875@noreply.git.matoski.com"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"ad94aecc99e04328e0ae3d63633b7302"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF20H4XCFVZCCEC21N0H2PH","version":"1"}'
        status: 201 Created
        code: 201
        duration: 1.126293167s
