---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":89,"name":"vault-plugin-test-token","revoked":false,"created_at":"2025-04-04T20:55:28.379Z","description":"","scopes":["api","self_rotate"],"user_id":2,"last_used_at":"2025-04-04T20:57:16.720Z","active":true,"expires_at":"2026-04-04"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"1a6f55b0a7d833fa295ac89f032f75ed"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JR19X1J61J4AGQACY6AH5N7B","version":"1"}'
        status: 200 OK
        code: 200
        duration: 47.082458ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"17.10.1-ee","revision":"6313c41c880","kas":{"enabled":true,"externalUrl":"wss://git.matoski.com//-/kubernetes-agent/","externalK8sProxyUrl":"https://git.matoski.com//-/kubernetes-agent/k8s-proxy/","version":"17.10.1"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"45b80338e569448770b107ba771fe70b"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JR19X1N7JP3WKNDFEPW868Z7","version":"1"}'
        status: 200 OK
        code: 200
        duration: 70.618958ms
    - id: 2
      request:
        host: git.matoski.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":149,"username":"service_account_6f08da890bd929aaaaec4b24b69c0fbe","name":"Service account user","email":"service_account_6f08da890bd929aaaaec4b24b69c0fbe@noreply.git.matoski.com"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"a88a08ca52fc72b330d45271f68571a5"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JR19X1SRSFH4E9WRJNAZYH03","version":"1"}'
        status: 201 Created
        code: 201
        duration: 161.416791ms
