---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":111,"name":"vault","revoked":false,"created_at":"2026-04-30T11:11:25.967Z","description":"","scopes":["read_service_ping","read_user","read_repository","read_virtual_registry","read_registry","read_api","self_rotate","write_repository","write_virtual_registry","write_registry","api","ai_features","create_runner","manage_runner","k8s_proxy","admin_mode","sudo"],"user_id":2,"last_used_at":"2026-04-30T11:13:26.055Z","active":true,"granular":false,"expires_at":"2026-05-30","last_used_ips":["77.63.94.120"]}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"85fce5d923afe3417734c74b52e8efc6"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF20KB1QZ16HH132PGPKNDX","version":"1"}'
        status: 200 OK
        code: 200
        duration: 67.0405ms
    - id: 1
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"18.11.2-ee","revision":"354369a0b7c","kas":{"enabled":true,"externalUrl":"wss://git.matoski.com//-/kubernetes-agent/","externalK8sProxyUrl":"https://git.matoski.com//-/kubernetes-agent/k8s-proxy/","version":"18.11.2"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"bfe16c2bb767b608048b50ebbdcece88"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF20KF3Q33ZYHNZN4K436XB","version":"1"}'
        status: 200 OK
        code: 200
        duration: 232.703875ms
    - id: 2
      request:
        host: git.matoski.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/groups/265/service_accounts
        method: POST
      response:
        body: '{"id":166,"username":"service_account_group_265_0180ed2bdc79593e0a6f81a7fa158182","public_email":null,"name":"Service account user","email":"service_account_group_265_0180ed2bdc79593e0a6f81a7fa158182@noreply.git.matoski.com"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"7d06f663d4cc582de696440a89c35a67"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF20KY13QX7KKQH7J6HYFFQ","version":"1"}'
        status: 201 Created
        code: 201
        duration: 4.84425125s
    - id: 3
      request:
        host: git.matoski.com
        form:
            username:
                - service_account_group_265_0180ed2bdc79593e0a6f81a7fa158182
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users?username=service_account_group_265_0180ed2bdc79593e0a6f81a7fa158182
        method: GET
      response:
        body: '[{"id":166,"username":"service_account_group_265_0180ed2bdc79593e0a6f81a7fa158182","public_email":null,"name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/49e174563bc99047bc145580bfabde809ad984566a043a44150ff24ef65f30e8?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_group_265_0180ed2bdc79593e0a6f81a7fa158182","created_at":"2026-04-30T11:22:32.992Z","bio":"","location":"","linkedin":"","twitter":"","discord":"","website_url":"","github":"","job_title":"","pronouns":null,"organization":"","bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2026-04-30T11:22:32.907Z","last_activity_on":null,"email":"service_account_group_265_0180ed2bdc79593e0a6f81a7fa158182@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_group_265_0180ed2bdc79593e0a6f81a7fa158182@noreply.git.matoski.com","preferred_language":"en","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":411,"created_by":{"id":2,"username":"ilijamt","public_email":"","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":265,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"97a0a1134cf55fdd9b20f0294ff738d9"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_0180ed2bdc79593e0a6f81a7fa158182&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_0180ed2bdc79593e0a6f81a7fa158182&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF20XCTDAECYK1NME7VGWKC","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 565.438ms
    - id: 4
      request:
        host: git.matoski.com
        body: '{"name":"vault-generated-group-service-account-token","scopes":["api","read_api","read_registry","write_registry","read_virtual_registry","write_virtual_registry","read_repository","write_repository","create_runner","manage_runner","ai_features","k8s_proxy","self_rotate"],"expires_at":"2026-05-02"}'
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/groups/265/service_accounts/166/personal_access_tokens
        method: POST
      response:
        body: '{"id":112,"name":"vault-generated-group-service-account-token","revoked":false,"created_at":"2026-04-30T11:22:43.686Z","description":null,"scopes":["api","read_api","read_registry","write_registry","read_virtual_registry","write_virtual_registry","read_repository","write_repository","create_runner","manage_runner","ai_features","k8s_proxy","self_rotate"],"user_id":166,"last_used_at":null,"active":true,"granular":false,"expires_at":"2026-05-02","token":"REPLACED-TOKEN"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"d79e0dd426c270311830946dda667e7c"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF20YGS4EHR9Y59WTQJMKZG","version":"1"}'
        status: 201 Created
        code: 201
        duration: 230.5265ms
[...]
    - id: 7
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/166
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF20ZSE4QQ314XCWH0DPN88","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 419.993166ms
