---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":115,"name":"vault","revoked":false,"created_at":"2026-05-01T22:32:38.321Z","description":"","scopes":["read_service_ping","read_user","read_repository","read_virtual_registry","read_registry","read_api","self_rotate","write_repository","write_virtual_registry","write_registry","api","ai_features","create_runner","manage_runner","k8s_proxy","admin_mode","sudo"],"user_id":2,"last_used_at":"2026-05-01T22:32:55.022Z","active":true,"granular":false,"expires_at":"2026-11-30","last_used_ips":["77.174.176.49"]}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"eaf73a8fcb13890f65b0423c83599b23"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQJTV7G664122TQX0DTC2HJB","version":"1"}'
        status: 200 OK
        code: 200
        duration: 71.340958ms
    - id: 1
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"18.11.2-ee","revision":"354369a0b7c","kas":{"enabled":true,"externalUrl":"wss://git.matoski.com//-/kubernetes-agent/","externalK8sProxyUrl":"https://git.matoski.com//-/kubernetes-agent/k8s-proxy/","version":"18.11.2"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"bfe16c2bb767b608048b50ebbdcece88"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQJTV7JFFK69D0QX60E8Q2AQ","version":"1"}'
        status: 200 OK
        code: 200
        duration: 81.811625ms
    - id: 2
      request:
        host: git.matoski.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":169,"username":"service_account_9bb37aac11f45569b1aa177fe7d4cad2","public_email":null,"name":"Service account user","email":"service_account_9bb37aac11f45569b1aa177fe7d4cad2@noreply.git.matoski.com"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"8318158f2846b606c2ac323d1240f71a"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQJTV7N19KMWM1Y9MK5ZXXW0","version":"1"}'
        status: 201 Created
        code: 201
        duration: 327.463709ms
    - id: 3
      request:
        host: git.matoski.com
        form:
            username:
                - service_account_9bb37aac11f45569b1aa177fe7d4cad2
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users?username=service_account_9bb37aac11f45569b1aa177fe7d4cad2
        method: GET
      response:
        body: '[{"id":169,"username":"service_account_9bb37aac11f45569b1aa177fe7d4cad2","public_email":null,"name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e37d8be0f93b3d7209ec3e1c65071778fc816b09a2b2df0d4f4546423653f9a9?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_9bb37aac11f45569b1aa177fe7d4cad2","created_at":"2026-05-01T22:34:14.189Z","bio":"","location":"","linkedin":"","twitter":"","discord":"","website_url":"","github":"","job_title":"","pronouns":null,"organization":"","bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2026-05-01T22:34:14.157Z","last_activity_on":null,"email":"service_account_9bb37aac11f45569b1aa177fe7d4cad2@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_9bb37aac11f45569b1aa177fe7d4cad2@noreply.git.matoski.com","preferred_language":"en","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":414,"created_by":{"id":2,"username":"ilijamt","public_email":"","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":null,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"f7e9bc40d453e3c2b90839cd0f833cc0"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_9bb37aac11f45569b1aa177fe7d4cad2&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_9bb37aac11f45569b1aa177fe7d4cad2&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQJTV7ZBJ81V4Y6T2WMFP0QN","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 234.255333ms
    - id: 4
      request:
        host: git.matoski.com
        body: '{"name":"vault-generated-user-service-account-token","expires_at":"2026-05-03","scopes":["admin_mode","ai_features","api","create_runner","k8s_proxy","manage_runner","read_api","read_registry","read_repository","read_service_ping","read_user","self_rotate","sudo","write_registry","write_repository"]}'
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/169/personal_access_tokens
        method: POST
      response:
        body: '{"id":117,"name":"vault-generated-user-service-account-token","revoked":false,"created_at":"2026-05-01T22:34:14.645Z","description":null,"scopes":["admin_mode","ai_features","api","create_runner","k8s_proxy","manage_runner","read_api","read_registry","read_repository","read_service_ping","read_user","self_rotate","sudo","write_registry","write_repository"],"user_id":169,"last_used_at":null,"active":true,"granular":false,"expires_at":"2026-05-03","token":"REPLACED-TOKEN"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"3cc4e447450d985cded66ef4e40f7775"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQJTV86NPHHHTWXVWPBZYPWK","version":"1"}'
        status: 201 Created
        code: 201
        duration: 110.716875ms
[...]
    - id: 7
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/169
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQJTV9GRVT11869RKHS5203B","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 112.25025ms
