---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":115,"name":"vault","revoked":false,"created_at":"2026-05-01T22:32:38.321Z","description":"","scopes":["read_service_ping","read_user","read_repository","read_virtual_registry","read_registry","read_api","self_rotate","write_repository","write_virtual_registry","write_registry","api","ai_features","create_runner","manage_runner","k8s_proxy","admin_mode","sudo"],"user_id":2,"last_used_at":"2026-05-01T22:32:55.022Z","active":true,"granular":false,"expires_at":"2026-11-30","last_used_ips":["77.174.176.49"]}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"eaf73a8fcb13890f65b0423c83599b23"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQJTV538NFDPGWXR2ATZA3S1","version":"1"}'
        status: 200 OK
        code: 200
        duration: 369.710042ms
    - id: 1
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"18.11.2-ee","revision":"354369a0b7c","kas":{"enabled":true,"externalUrl":"wss://git.matoski.com//-/kubernetes-agent/","externalK8sProxyUrl":"https://git.matoski.com//-/kubernetes-agent/k8s-proxy/","version":"18.11.2"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"bfe16c2bb767b608048b50ebbdcece88"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQJTV59R44RFG9XFHGVAZ0NC","version":"1"}'
        status: 200 OK
        code: 200
        duration: 237.429917ms
    - id: 2
      request:
        host: git.matoski.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/groups/265/service_accounts
        method: POST
      response:
        body: '{"id":168,"username":"service_account_group_265_8a1fc42e4d42b142b2e4990b0f3f41b1","public_email":null,"name":"Service account user","email":"service_account_group_265_8a1fc42e4d42b142b2e4990b0f3f41b1@noreply.git.matoski.com"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"627ffea0922766fda80924e6f4ec4e97"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQJTV5FAGHCG9XYX9ENVAKPG","version":"1"}'
        status: 201 Created
        code: 201
        duration: 1.406182625s
    - id: 3
      request:
        host: git.matoski.com
        form:
            username:
                - service_account_group_265_8a1fc42e4d42b142b2e4990b0f3f41b1
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users?username=service_account_group_265_8a1fc42e4d42b142b2e4990b0f3f41b1
        method: GET
      response:
        body: '[{"id":168,"username":"service_account_group_265_8a1fc42e4d42b142b2e4990b0f3f41b1","public_email":null,"name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/67669f3a4df5e90de19023e169956c71f3e9b76c3c5e8e25711a9c79ad241c5b?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_group_265_8a1fc42e4d42b142b2e4990b0f3f41b1","created_at":"2026-05-01T22:34:11.994Z","bio":"","location":"","linkedin":"","twitter":"","discord":"","website_url":"","github":"","job_title":"","pronouns":null,"organization":"","bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2026-05-01T22:34:11.937Z","last_activity_on":null,"email":"service_account_group_265_8a1fc42e4d42b142b2e4990b0f3f41b1@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_group_265_8a1fc42e4d42b142b2e4990b0f3f41b1@noreply.git.matoski.com","preferred_language":"en","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":413,"created_by":{"id":2,"username":"ilijamt","public_email":"","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":265,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"2fbcbb0c0f41d0ff193c73268a94c9bf"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_8a1fc42e4d42b142b2e4990b0f3f41b1&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_8a1fc42e4d42b142b2e4990b0f3f41b1&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQJTV6TC2BZG7TZCYWJVP0XP","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 189.896833ms
    - id: 4
      request:
        host: git.matoski.com
        body: '{"name":"vault-generated-group-service-account-token","scopes":["ai_features","api","create_runner","k8s_proxy","manage_runner","read_api","read_registry","read_repository","self_rotate","write_registry","write_repository"],"expires_at":"2026-05-03"}'
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/groups/265/service_accounts/168/personal_access_tokens
        method: POST
      response:
        body: '{"id":116,"name":"vault-generated-group-service-account-token","revoked":false,"created_at":"2026-05-01T22:34:13.460Z","description":null,"scopes":["ai_features","api","create_runner","k8s_proxy","manage_runner","read_api","read_registry","read_repository","self_rotate","write_registry","write_repository"],"user_id":168,"last_used_at":null,"active":true,"granular":false,"expires_at":"2026-05-03","token":"REPLACED-TOKEN"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"c5c17caff3f82dbaa648560ad141bec1"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQJTV70C6ASM113HT59NRCWV","version":"1"}'
        status: 201 Created
        code: 201
        duration: 164.419917ms
[...]
    - id: 7
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/168
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQJTV7DMC50FXSZ5327C0X23","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 77.562042ms
