---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":111,"name":"vault","revoked":false,"created_at":"2026-04-30T11:11:25.967Z","description":"","scopes":["read_service_ping","read_user","read_repository","read_virtual_registry","read_registry","read_api","self_rotate","write_repository","write_virtual_registry","write_registry","api","ai_features","create_runner","manage_runner","k8s_proxy","admin_mode","sudo"],"user_id":2,"last_used_at":"2026-04-30T11:13:26.055Z","active":true,"granular":false,"expires_at":"2026-05-30","last_used_ips":["77.63.94.120"]}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"85fce5d923afe3417734c74b52e8efc6"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF20E9PDYTX4GBENNH1M2TM","version":"1"}'
        status: 200 OK
        code: 200
        duration: 433.856375ms
    - id: 1
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"18.11.2-ee","revision":"354369a0b7c","kas":{"enabled":true,"externalUrl":"wss://git.matoski.com//-/kubernetes-agent/","externalK8sProxyUrl":"https://git.matoski.com//-/kubernetes-agent/k8s-proxy/","version":"18.11.2"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"bfe16c2bb767b608048b50ebbdcece88"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF20ETW13FJ4M1HB888QN4G","version":"1"}'
        status: 200 OK
        code: 200
        duration: 148.317625ms
    - id: 2
      request:
        host: git.matoski.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":164,"username":"service_account_9c29afd8af6153a8f6da675bc5da80fc","public_email":null,"name":"Service account user","email":"service_account_9c29afd8af6153a8f6da675bc5da80fc@noreply.git.matoski.com"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"76543f946bbd6446dc68c2b97e7b411c"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KQF20F4J027YYDSJJK29HNWV","version":"1"}'
        status: 201 Created
        code: 201
        duration: 811.754917ms
