---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":81,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-12-11T23:34:49.635Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-12-14T23:00:53.224Z","active":true,"expires_at":"2025-12-11"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"cfea8e3149af01041fbffaa578be74c9"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PEM6TXW26XGCAWDHRE74F","version":"1"}'
        status: 200 OK
        code: 200
        duration: 37.910708ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"17.5.3-ee","revision":"9d81c27eee7","kas":{"enabled":true,"externalUrl":"wss://git.matoski.com//-/kubernetes-agent/","version":"17.5.3"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"782d9777eaee8b4f8892bc19aa3f8239"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PEM96YFKDFFAST7P0R8M0","version":"1"}'
        status: 200 OK
        code: 200
        duration: 37.877708ms
    - id: 2
      request:
        host: git.matoski.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":140,"username":"service_account_a34b68be2852c344e401b14f16bb71b8","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"ce164b98775efebb7f8c646865554f1e"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PEMBP18GZ5H4V384NSCFW","version":"1"}'
        status: 201 Created
        code: 201
        duration: 357.518875ms
    - id: 3
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users?username=service_account_a34b68be2852c344e401b14f16bb71b8
        method: GET
      response:
        body: '[{"id":140,"username":"service_account_a34b68be2852c344e401b14f16bb71b8","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/ce4e9e96cf01151022dff6ad9f0c7bf75c8163d25a14beec5b93ee9162c9d14e?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_a34b68be2852c344e401b14f16bb71b8","created_at":"2024-12-14T23:00:57.413Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2024-12-14T23:00:57.369Z","last_activity_on":null,"email":"service_account_a34b68be2852c344e401b14f16bb71b8@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_a34b68be2852c344e401b14f16bb71b8@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":379,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":null,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"a654b25af36baa69931c14cf1af68a63"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_a34b68be2852c344e401b14f16bb71b8&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_a34b68be2852c344e401b14f16bb71b8&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PEN24CKWPM392FZHSNGN7","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 223.005666ms
    - id: 4
      request:
        host: git.matoski.com
        body: '{"name":"vault-generated-user-service-account-token","expires_at":"2025-03-14","scopes":["read_service_ping","read_user","sudo","admin_mode"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/140/personal_access_tokens
        method: POST
      response:
        body: '{"id":84,"name":"vault-generated-user-service-account-token","revoked":false,"created_at":"2024-12-14T23:00:58.554Z","scopes":["read_service_ping","read_user","sudo","admin_mode"],"user_id":140,"last_used_at":null,"active":true,"expires_at":"2025-03-14","token":"glpat-8z2gC5zqaJxmxkQpaUV_"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"cd162f71ca7a376895fde8e1929d10c4"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PENGBQ0BF1ADTMYRND09J","version":"1"}'
        status: 201 Created
        code: 201
        duration: 115.8065ms
[...]
    - id: 7
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/140
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PENYV97DYMREV6S2ETCG6","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 41.93525ms
