---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":89,"name":"vault-plugin-test-token","revoked":false,"created_at":"2025-04-04T20:55:28.379Z","description":"","scopes":["api","self_rotate"],"user_id":2,"last_used_at":"2025-04-04T20:57:16.720Z","active":true,"expires_at":"2026-04-04"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"1a6f55b0a7d833fa295ac89f032f75ed"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JR19X46GA69WHJ10YYBCCCPT","version":"1"}'
        status: 200 OK
        code: 200
        duration: 48.328209ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"17.10.1-ee","revision":"6313c41c880","kas":{"enabled":true,"externalUrl":"wss://git.matoski.com//-/kubernetes-agent/","externalK8sProxyUrl":"https://git.matoski.com//-/kubernetes-agent/k8s-proxy/","version":"17.10.1"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"45b80338e569448770b107ba771fe70b"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JR19X49KKM7F0N4QGZ7MC3QQ","version":"1"}'
        status: 200 OK
        code: 200
        duration: 56.824334ms
    - id: 2
      request:
        host: git.matoski.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":151,"username":"service_account_5540a499e8883e8442f98638200de707","name":"Service account user","email":"service_account_5540a499e8883e8442f98638200de707@noreply.git.matoski.com"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"73d0c656ea2565370f31b53d64577439"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JR19X4D8GQ5KPCYF5SK8FKGM","version":"1"}'
        status: 201 Created
        code: 201
        duration: 157.810042ms
    - id: 3
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users?username=service_account_5540a499e8883e8442f98638200de707
        method: GET
      response:
        body: '[{"id":151,"username":"service_account_5540a499e8883e8442f98638200de707","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/fd31db0ca66698e0190b2c3953232d67d4c21cc21aa394e5b353c73b5c04b5aa?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_5540a499e8883e8442f98638200de707","created_at":"2025-04-04T21:04:28.637Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2025-04-04T21:04:28.621Z","last_activity_on":null,"email":"service_account_5540a499e8883e8442f98638200de707@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_5540a499e8883e8442f98638200de707@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":390,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":null,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"0e4da3ed494d2346cf77c2d27ce3dd13"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_5540a499e8883e8442f98638200de707&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_5540a499e8883e8442f98638200de707&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JR19X4Q96CKF6RX6XASCZ9RR","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 89.058875ms
    - id: 4
      request:
        host: git.matoski.com
        body: '{"name":"vault-generated-user-service-account-token","expires_at":"2025-04-06","scopes":["api","read_user","read_api","read_repository","write_repository","read_registry","write_registry","read_virtual_registry","write_virtual_registry","sudo","admin_mode","create_runner","manage_runner","ai_features","k8s_proxy","self_rotate","read_service_ping"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/151/personal_access_tokens
        method: POST
      response:
        body: '{"id":91,"name":"vault-generated-user-service-account-token","revoked":false,"created_at":"2025-04-04T21:04:29.127Z","description":null,"scopes":["api","read_user","read_api","read_repository","write_repository","read_registry","write_registry","read_virtual_registry","write_virtual_registry","sudo","admin_mode","create_runner","manage_runner","ai_features","k8s_proxy","self_rotate","read_service_ping"],"user_id":151,"last_used_at":null,"active":true,"expires_at":"2025-04-06","token":"glpat-B1xeXNhm6P5zvpKNExBf"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"dd17a62f8bcffb9572efc9c34d11843a"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JR19X4X0GA1V6XYMM1XTHQS8","version":"1"}'
        status: 201 Created
        code: 201
        duration: 87.840417ms
[...]
    - id: 7
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/151
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01JR19X5D3V0RT1PZH9MPS1XGF","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 75.3045ms
