---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":81,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-12-11T23:34:49.635Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-12-14T23:00:53.224Z","active":true,"expires_at":"2025-12-11"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"cfea8e3149af01041fbffaa578be74c9"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PEGADVH43D7YFGT7MNPQ1","version":"1"}'
        status: 200 OK
        code: 200
        duration: 198.028667ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"17.5.3-ee","revision":"9d81c27eee7","kas":{"enabled":true,"externalUrl":"wss://git.matoski.com//-/kubernetes-agent/","version":"17.5.3"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"782d9777eaee8b4f8892bc19aa3f8239"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PEGJR0Q9DBYQN0EXB0JFS","version":"1"}'
        status: 200 OK
        code: 200
        duration: 127.459958ms
    - id: 2
      request:
        host: git.matoski.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":137,"username":"service_account_8ce343ad61fa4ae0bb1b98a1a63581b4","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"e014e8962124145febfcb557112a99ee"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PEGTT71SMKCVSVNDTPAE2","version":"1"}'
        status: 201 Created
        code: 201
        duration: 610.470209ms
