---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":96,"name":"terraform","revoked":false,"created_at":"2026-01-29T23:31:41.889Z","description":"","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","self_rotate","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2026-01-29T23:32:12.057Z","active":true,"expires_at":"2027-01-29"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"f8bfa4d60e2682c87e145b63905371a9"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KG6257FRK1YGFTPEFV0M6TB0","version":"1"}'
        status: 200 OK
        code: 200
        duration: 100.768833ms
    - id: 1
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"17.11.1-ee","revision":"cd4c186e8bc","kas":{"enabled":true,"externalUrl":"wss://git.matoski.com//-/kubernetes-agent/","externalK8sProxyUrl":"https://git.matoski.com//-/kubernetes-agent/k8s-proxy/","version":"17.11.1"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"33ac751a0dcad16d36e2ea069b0288a7"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KG6257MEG53SCXT6C7T3VGTQ","version":"1"}'
        status: 200 OK
        code: 200
        duration: 60.0915ms
    - id: 2
      request:
        host: git.matoski.com
        body: '{}'
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/groups/265/service_accounts
        method: POST
      response:
        body: '{"id":162,"username":"service_account_group_265_62f9b5b6efcda72b22efc55dc3aa0743","name":"Service account user","email":"service_account_group_265_62f9b5b6efcda72b22efc55dc3aa0743@noreply.git.matoski.com"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"be378dc3fb97a99d63caf5c2a3289426"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KG6257RASQFJCVV7Z5F6CVR8","version":"1"}'
        status: 201 Created
        code: 201
        duration: 163.665541ms
    - id: 3
      request:
        host: git.matoski.com
        form:
            username:
                - service_account_group_265_62f9b5b6efcda72b22efc55dc3aa0743
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users?username=service_account_group_265_62f9b5b6efcda72b22efc55dc3aa0743
        method: GET
      response:
        body: '[{"id":162,"username":"service_account_group_265_62f9b5b6efcda72b22efc55dc3aa0743","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/9f8d257a426514199fe0e626d6b658af14ff73ffd3dd2fe2352b4620557724d4?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_group_265_62f9b5b6efcda72b22efc55dc3aa0743","created_at":"2026-01-29T23:42:01.541Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2026-01-29T23:42:01.527Z","last_activity_on":null,"email":"service_account_group_265_62f9b5b6efcda72b22efc55dc3aa0743@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_group_265_62f9b5b6efcda72b22efc55dc3aa0743@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":402,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":265,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"f83ae46c900b876dce57a9265ca10b6b"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_62f9b5b6efcda72b22efc55dc3aa0743&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_62f9b5b6efcda72b22efc55dc3aa0743&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KG62582MVV2HB4ZE05ETMGZG","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 82.002459ms
    - id: 4
      request:
        host: git.matoski.com
        body: '{"name":"vault-generated-group-service-account-token","scopes":["api","read_api","read_registry","write_registry","read_virtual_registry","write_virtual_registry","read_repository","write_repository","create_runner","manage_runner","ai_features","k8s_proxy","self_rotate"],"expires_at":"2026-04-06"}'
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/groups/265/service_accounts/162/personal_access_tokens
        method: POST
      response:
        body: '{"id":107,"name":"vault-generated-group-service-account-token","revoked":false,"created_at":"2026-01-29T23:42:02.022Z","description":null,"scopes":["api","read_api","read_registry","write_registry","read_virtual_registry","write_virtual_registry","read_repository","write_repository","create_runner","manage_runner","ai_features","k8s_proxy","self_rotate"],"user_id":162,"last_used_at":null,"active":true,"expires_at":"2026-04-06","token":"glpat-yyxAzYyM2xHHvL5XDxEp"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"bb2f8976fd393a0832f3940a9c102bd1"
            X-Gitlab-Meta:
                - '{"correlation_id":"01KG62587TMDS4CQ4DPBFGRKZN","version":"1"}'
        status: 201 Created
        code: 201
        duration: 91.691125ms
[...]
    - id: 7
      request:
        host: git.matoski.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/162
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01KG6258MQ1TWNN56QH3YQKMKY","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 53.933417ms
