---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":81,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-12-11T23:34:49.635Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-12-14T23:00:53.224Z","active":true,"expires_at":"2025-12-11"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"cfea8e3149af01041fbffaa578be74c9"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PEJ1NANQKGPN92HPTNSW6","version":"1"}'
        status: 200 OK
        code: 200
        duration: 129.170875ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"17.5.3-ee","revision":"9d81c27eee7","kas":{"enabled":true,"externalUrl":"wss://git.matoski.com//-/kubernetes-agent/","version":"17.5.3"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"782d9777eaee8b4f8892bc19aa3f8239"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PEJ9R0E6GX3RPVHJ3044H","version":"1"}'
        status: 200 OK
        code: 200
        duration: 49.032ms
    - id: 2
      request:
        host: git.matoski.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/service_accounts
        method: POST
      response:
        body: '{"id":138,"username":"service_account_ef4d61ff326df7aad69ba3016b0ccc36","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"3cf253daf0f71ec90e39598924bf4020"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PEJCYJ4S2C0YGD82QQX7R","version":"1"}'
        status: 201 Created
        code: 201
        duration: 118.6255ms
