---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":81,"name":"vault-plugin-test-token","revoked":false,"created_at":"2024-12-11T23:34:49.635Z","scopes":["api","read_api","read_user","create_runner","manage_runner","k8s_proxy","read_repository","write_repository","read_registry","write_registry","ai_features","sudo","admin_mode","read_service_ping"],"user_id":2,"last_used_at":"2024-12-14T23:00:53.224Z","active":true,"expires_at":"2025-12-11"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"cfea8e3149af01041fbffaa578be74c9"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PEJMSVMM35XC59AZKAD81","version":"1"}'
        status: 200 OK
        code: 200
        duration: 53.917209ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"17.5.3-ee","revision":"9d81c27eee7","kas":{"enabled":true,"externalUrl":"wss://git.matoski.com//-/kubernetes-agent/","version":"17.5.3"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"782d9777eaee8b4f8892bc19aa3f8239"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PEJR69C461GYC21M98Z7F","version":"1"}'
        status: 200 OK
        code: 200
        duration: 80.156ms
    - id: 2
      request:
        host: git.matoski.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/groups/265/service_accounts
        method: POST
      response:
        body: '{"id":139,"username":"service_account_group_265_987ee3390146f44aec3a4e89e74a13d0","name":"Service account user"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"99e6b23ebe6d139d92f794e2f7aeed01"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PEJXAB0NWFABFZPB3PZ00","version":"1"}'
        status: 201 Created
        code: 201
        duration: 164.375792ms
    - id: 3
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users?username=service_account_group_265_987ee3390146f44aec3a4e89e74a13d0
        method: GET
      response:
        body: '[{"id":139,"username":"service_account_group_265_987ee3390146f44aec3a4e89e74a13d0","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/8378ce6ff6f9c69f45faa54e25b08cc497e348b9b92f9f8985d31444f57699f5?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_group_265_987ee3390146f44aec3a4e89e74a13d0","created_at":"2024-12-14T23:00:55.915Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2024-12-14T23:00:55.903Z","last_activity_on":null,"email":"service_account_group_265_987ee3390146f44aec3a4e89e74a13d0@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_group_265_987ee3390146f44aec3a4e89e74a13d0@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":378,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":265,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"83c7c7be68288d2a1e5e2449ce13654a"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_987ee3390146f44aec3a4e89e74a13d0&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_987ee3390146f44aec3a4e89e74a13d0&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PEK7S5XNM8B0WQFZ0VRJY","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 149.256292ms
    - id: 4
      request:
        host: git.matoski.com
        body: '{"scopes":["read_service_ping","read_user","sudo","admin_mode"],"name":"vault-generated-group-service-account-token","expires_at":"2025-03-14"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/groups/265/service_accounts/139/personal_access_tokens
        method: POST
      response:
        body: '{"id":83,"name":"vault-generated-group-service-account-token","revoked":false,"created_at":"2024-12-14T23:00:56.530Z","scopes":["read_service_ping","read_user","sudo","admin_mode"],"user_id":139,"last_used_at":null,"active":true,"expires_at":"2025-03-14","token":"glpat-2cFWZUSZB61ue4zEwLG6"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"4c14811490a44d4362bf225bc46ef094"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PEKH9T7XT2E3P7FC8RFNH","version":"1"}'
        status: 201 Created
        code: 201
        duration: 87.139ms
[...]
    - id: 7
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/139
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01JF3PEM2JK96NEJDCFWWBVSS1","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 53.857667ms
