---
version: 2
interactions:
    - id: 0
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":89,"name":"vault-plugin-test-token","revoked":false,"created_at":"2025-04-04T20:55:28.379Z","description":"","scopes":["api","self_rotate"],"user_id":2,"last_used_at":"2025-04-04T20:57:16.720Z","active":true,"expires_at":"2026-04-04"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"1a6f55b0a7d833fa295ac89f032f75ed"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JR19X245P1S3H5AZ73EY2EQ2","version":"1"}'
        status: 200 OK
        code: 200
        duration: 47.685542ms
    - id: 1
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"17.10.1-ee","revision":"6313c41c880","kas":{"enabled":true,"externalUrl":"wss://git.matoski.com//-/kubernetes-agent/","externalK8sProxyUrl":"https://git.matoski.com//-/kubernetes-agent/k8s-proxy/","version":"17.10.1"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"45b80338e569448770b107ba771fe70b"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JR19X275GWETFQSZYKSX6Z4S","version":"1"}'
        status: 200 OK
        code: 200
        duration: 92.752625ms
    - id: 2
      request:
        host: git.matoski.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/groups/265/service_accounts
        method: POST
      response:
        body: '{"id":150,"username":"service_account_group_265_4c3049879e386db348833c82ba2d473c","name":"Service account user","email":"service_account_group_265_4c3049879e386db348833c82ba2d473c@noreply.git.matoski.com"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"2ff02b2295d343e1cc9c01b5acca696b"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JR19X2D32P18M28K3NFBKJYS","version":"1"}'
        status: 201 Created
        code: 201
        duration: 207.328459ms
    - id: 3
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users?username=service_account_group_265_4c3049879e386db348833c82ba2d473c
        method: GET
      response:
        body: '[{"id":150,"username":"service_account_group_265_4c3049879e386db348833c82ba2d473c","name":"Service account user","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/445481d0351c25e1035edb357409275732bcf4071fa5e421f6830aada1995fe3?s=80\u0026d=identicon","web_url":"https://git.matoski.com/service_account_group_265_4c3049879e386db348833c82ba2d473c","created_at":"2025-04-04T21:04:26.617Z","bio":"","location":"","public_email":null,"skype":"","linkedin":"","twitter":"","discord":"","website_url":"","organization":"","job_title":"","pronouns":null,"bot":true,"work_information":null,"followers":0,"following":0,"is_followed":false,"local_time":null,"last_sign_in_at":null,"confirmed_at":"2025-04-04T21:04:26.594Z","last_activity_on":null,"email":"service_account_group_265_4c3049879e386db348833c82ba2d473c@noreply.git.matoski.com","theme_id":3,"color_scheme_id":1,"projects_limit":0,"current_sign_in_at":null,"identities":[],"can_create_group":false,"can_create_project":false,"two_factor_enabled":false,"external":true,"private_profile":false,"commit_email":"service_account_group_265_4c3049879e386db348833c82ba2d473c@noreply.git.matoski.com","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[],"is_admin":false,"note":null,"namespace_id":389,"created_by":{"id":2,"username":"ilijamt","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://git.matoski.com/ilijamt"},"email_reset_offered_at":null,"using_license_seat":false,"is_auditor":false,"provisioned_by_group_id":265,"enterprise_group_id":null,"enterprise_group_associated_at":null}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"4c1dd16cd78761fe0479a593eac5d0d0"
            Link:
                - <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_4c3049879e386db348833c82ba2d473c&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="first", <https://git.matoski.com/api/v4/users?active=false&admins=false&auditors=false&blocked=false&exclude_active=false&exclude_external=false&exclude_humans=false&exclude_internal=false&external=false&humans=false&order_by=id&page=1&per_page=20&skip_ldap=false&sort=desc&username=service_account_group_265_4c3049879e386db348833c82ba2d473c&with_custom_attributes=false&without_project_bots=false&without_projects=false>; rel="last"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JR19X2T9TQ30Q5WK13Y9BBVQ","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "20"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 273.2105ms
    - id: 4
      request:
        host: git.matoski.com
        body: '{"name":"vault-generated-group-service-account-token","scopes":["api","read_api","read_registry","write_registry","read_virtual_registry","write_virtual_registry","read_repository","write_repository","create_runner","manage_runner","ai_features","k8s_proxy","self_rotate"],"expires_at":"2025-04-06"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/groups/265/service_accounts/150/personal_access_tokens
        method: POST
      response:
        body: '{"id":90,"name":"vault-generated-group-service-account-token","revoked":false,"created_at":"2025-04-04T21:04:27.615Z","description":null,"scopes":["api","read_api","read_registry","write_registry","read_virtual_registry","write_virtual_registry","read_repository","write_repository","create_runner","manage_runner","ai_features","k8s_proxy","self_rotate"],"user_id":150,"last_used_at":null,"active":true,"expires_at":"2025-04-06","token":"glpat-dr9BZa1hhUcw9iy31gUH"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"7cf59aa264b6ae38726e32c3f382c842"
            X-Gitlab-Meta:
                - '{"correlation_id":"01JR19X3C441MANPNNTQ105HQR","version":"1"}'
        status: 201 Created
        code: 201
        duration: 174.425834ms
[...]
    - id: 7
      request:
        host: git.matoski.com
        body: ""
        form: {}
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://git.matoski.com/api/v4/users/150
        method: DELETE
      response:
        body: ""
        headers:
            X-Gitlab-Meta:
                - '{"correlation_id":"01JR19X41EQ1GJRPFVNX7EVQAZ","version":"1"}'
        status: 204 No Content
        code: 204
        duration: 71.603792ms
