---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"id":23293516,"name":"vault","revoked":false,"created_at":"2026-04-30T11:19:25.477Z","description":"","scopes":["read_user","read_repository","read_virtual_registry","read_registry","read_api","self_rotate","write_repository","write_virtual_registry","write_registry","api","ai_features","create_runner","manage_runner","k8s_proxy"],"user_id":32923,"last_used_at":"2026-04-30T11:19:42.699Z","active":true,"granular":false,"expires_at":"2026-05-30","last_used_ips":[]}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"19a400cedb1525276bd7dddda1bca2b2"
            Gitlab-Lb:
                - haproxy-main-19-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-b
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "2"
            Ratelimit-Remaining:
                - "1998"
            Ratelimit-Reset:
                - "1777548000"
            X-Gitlab-Meta:
                - '{"correlation_id":"9f462784cd25fba7-AMS","version":"1"}'
        status: 200 OK
        code: 200
        duration: 799.70925ms
    - id: 1
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/metadata
        method: GET
      response:
        body: '{"version":"19.0.0-pre","revision":"eb0186b2d46","kas":{"enabled":true,"externalUrl":"wss://kas.gitlab.com","externalK8sProxyUrl":"https://kas.gitlab.com/k8s-proxy","version":"19.0.0-rc1+71509a561abef2837f29bf95582cc93bbefac716"},"enterprise":true}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"bdc5602bc224aba8366503b8b56dda75"
            Gitlab-Lb:
                - haproxy-main-37-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-b
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "3"
            Ratelimit-Remaining:
                - "1997"
            Ratelimit-Reset:
                - "1777548000"
            X-Gitlab-Meta:
                - '{"correlation_id":"9f46278b5cbdfba7-AMS","version":"1"}'
        status: 200 OK
        code: 200
        duration: 248.623875ms
[...]
    - id: 3
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/users/32923
        method: GET
      response:
        body: '{"id":32923,"username":"ilijamt","public_email":"","name":"Ilija Matoski","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e1bd6bdeae5b3bcd803934a067f39933dd21f9da7974c8e3623ee21ece5fea61?s=80\u0026d=identicon","web_url":"https://gitlab.com/ilijamt","created_at":"2014-05-19T14:51:54.441Z","bio":"","location":"","linkedin":"","twitter":"","discord":"","website_url":"","github":"","job_title":"","pronouns":null,"organization":"","bot":false,"work_information":null,"local_time":"11:19 AM"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"ebc0b04dd21d97ef05fe87d1367651b0"
            Gitlab-Lb:
                - haproxy-main-15-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-d
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "5"
            Ratelimit-Remaining:
                - "1995"
            Ratelimit-Reset:
                - "1777548000"
            X-Gitlab-Meta:
                - '{"correlation_id":"9f4627922b5afba7-AMS","version":"1"}'
        status: 200 OK
        code: 200
        duration: 383.079375ms
    - id: 4
      request:
        host: gitlab.com
        body: '{"expires_at":"2026-05-31"}'
        headers:
            Content-Type:
                - application/json
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/23293516/rotate
        method: POST
      response:
        body: '{"id":23293532,"name":"vault","revoked":false,"created_at":"2026-04-30T11:19:59.927Z","description":"","scopes":["read_user","read_repository","read_virtual_registry","read_registry","read_api","self_rotate","write_repository","write_virtual_registry","write_registry","api","ai_features","create_runner","manage_runner","k8s_proxy"],"user_id":32923,"last_used_at":null,"active":true,"granular":false,"expires_at":"2026-05-31","token":"REPLACED-TOKEN"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"862f5cf6e4da6acbd2ad29db0eff2fb6"
            Gitlab-Lb:
                - haproxy-main-08-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-c
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "6"
            Ratelimit-Remaining:
                - "1994"
            Ratelimit-Reset:
                - "1777548000"
            X-Gitlab-Meta:
                - '{"correlation_id":"9f462796df1ffba7-AMS","version":"1"}'
        status: 200 OK
        code: 200
        duration: 331.259791ms
    - id: 5
      request:
        host: gitlab.com
        headers:
            Private-Token:
                - REPLACED-TOKEN
        url: https://gitlab.com/api/v4/personal_access_tokens/self
        method: GET
      response:
        body: '{"error":"invalid_token","error_description":"Token was revoked. You have to re-authorize from the user."}'
        headers:
            Content-Type:
                - application/json
            Gitlab-Lb:
                - haproxy-main-26-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-c
            Ratelimit-Limit:
                - "500"
            Ratelimit-Name:
                - throttle_unauthenticated_api
            Ratelimit-Observed:
                - "1"
            Ratelimit-Remaining:
                - "499"
            Ratelimit-Reset:
                - "1777548060"
            Www-Authenticate:
                - Bearer realm="Protected by OAuth 2.0", error="invalid_token", error_description="Token was revoked. You have to re-authorize from the user."
            X-Gitlab-Meta:
                - '{"correlation_id":"9f46279b098afba7-AMS","version":"1"}'
        status: 401 Unauthorized
        code: 401
        duration: 242.754292ms
[...]
